<section class="section novi-background section-98 section-md-110">
        <div class="container">
          <div class="row text-xl-left justify-content-center">
            <div class="col-md-8 col-xl-6">
              <div class="inset-xl-right-20">
                <h3>About Us</h3>
                <hr class="divider hr-xl-left-0 bg-blue-gray">
                <p>TemplateMonster is an A-size depot of website templates - more than 46,000 designs to choose from. Since coming up in May 2002, we've gone partners with Magento, Drupal, WordPress, PrestaShop, Joomla, WooCommerce, and many more. 1 million clients were served during this time. Web templates + installation + hosting + customization + Search Engine Optimization + copywriting — all these services you can always get at TemplateMonster.com. If you're thirsty for knowledge, TemplateMonster blog provides you with the most recent web design news, infographics, freebies, discounts & promos.</p>
              </div>
            </div>
            <div class="col-md-8 col-xl-6 offset-top-30 offset-xl-top-0">
              <div class="shadow-drop-xl">
                            <div class="rd-video-player play-on-scroll" data-rd-video-path="video/intense/intense" data-rd-video-title="What can we say about Intense ?" data-rd-video-muted="true" data-rd-video-preview="video/intense/intense-preview.jpg" data-rd-video-preload="false">
                              <div class="rd-video-wrap embed-custom-16by9">
                                <div class="rd-video-preloader"></div>
                                <video preload="metadata"></video>
                                <div class="rd-video-preview"></div>
                                <div class="rd-video-top-controls">
                                  <span class="rd-video-title"></span><a class="rd-video-fullscreen mdi mdi-fullscreen rd-video-icon" href="#"></a>
                                </div>
                                <div class="rd-video-controls">
                                  <div class="rd-video-controls-buttons">
                                    <a class="rd-video-play-pause mdi mdi-play" href="#"></a>
                                  </div>
                                  <div class="rd-video-progress-bar"></div>
                                  <div class="rd-video-time"><span class="rd-video-current-time"></span> <span class="rd-video-time-divider">:</span>  <span class="rd-video-duration"></span></div>
                                  <div class="rd-video-volume-wrap">
                                    <a class="rd-video-volume mdi mdi-volume-high rd-video-icon" href="#"></a>
                                    <div class="rd-video-volume-bar-wrap">
                                      <div class="rd-video-volume-bar"></div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
              </div>
            </div>
          </div>
        </div>
      </section>
