<section class="section novi-background section-50 section-sm-top-110 section-sm-bottom-98 section-mock-up" id="home-section-welcome">
        <div class="container">
          <div class="row justify-content-sm-center">
            <div class="col-lg-10">
              <h3>Intense is the
                <span class="text-rotator" data-text-class=" text-mantis text-ubold" data-enable="1200" data-words="most complex,most powerful,most flexible" data-rotate-interval="3000" data-rotate-animation="fadeInUp, fadeOutUp"><span class="rotate-area"></span></span>&nbsp;Bootstrap theme on TemplateMonster
              </h3>
              <p>Join the <span class="font-weight-bold text-picton-blue">205,000+</span> Satified Customers Today at TemplateMonster.com. Created by the industry leaders Intense is a comprehensive set of  tools which are super easy to pick up and run. It gives you a huge leg up to create your own beautiful site.  Powerful options & tools,  unlimited designs, responsive framework and amazing support are the reasons for our customers to fall in love.</p>
            </div>
          </div>
        </div>
      </section>
