<section class="section novi-background section-98 section-md-110">
  <div class="container">
    <h1>Some Albums</h1>
    <hr class="divider bg-mantis">
    <div class="row offset-top-66 grid-group-sm">
      <div class="col-lg-4">
        <div class="thumbnail-classic thumbnail-album" data-lightgallery="dynamic" data-lg-dynamic-elements="[{&quot;thumb&quot;:&quot;images/portfolio/portfolio-03-570x420.jpg&quot;,&quot;src&quot;:&quot;images/portfolio/portfolio-03-1170x600.jpg&quot;},{&quot;thumb&quot;:&quot;images/portfolio/portfolio-04-570x420.jpg&quot;,&quot;src&quot;:&quot;images/portfolio/portfolio-04-1170x600.jpg&quot;},{&quot;thumb&quot;:&quot;images/portfolio/portfolio-05-570x420.jpg&quot;,&quot;src&quot;:&quot;images/portfolio/portfolio-05-1170x600.jpg&quot;}]">
          <figure>
            <img height="420" src="images/portfolio/portfolio-03-570x420.jpg" alt="lol">
            <figcaption class="thumbnail-classic-caption text-center">
              <h4 class="thumbnail-classic-title">Album #1</h4>
              <p class="thumbnail-classic-desc text-bold text-uppercase veil reveal-xs-block">Event</p>
            </figcaption>
          </figure>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="thumbnail-classic thumbnail-album" data-lightgallery="dynamic" data-lg-dynamic-elements="[{&quot;thumb&quot;:&quot;images/portfolio/portfolio-19-570x420.jpg&quot;,&quot;src&quot;:&quot;images/portfolio/portfolio-19-1170x600.jpg&quot;},{&quot;thumb&quot;:&quot;images/portfolio/portfolio-14-570x420.jpg&quot;,&quot;src&quot;:&quot;images/portfolio/portfolio-14-1170x600.jpg&quot;},{&quot;thumb&quot;:&quot;images/portfolio/portfolio-20-570x420.jpg&quot;,&quot;src&quot;:&quot;images/portfolio/portfolio-20-1170x600.jpg&quot;}]">
          <figure>
            <img height="420" src="images/portfolio/portfolio-19-570x420.jpg" alt="lol">
            <figcaption class="thumbnail-classic-caption text-center">
              <h4 class="thumbnail-classic-title">Album #2</h4>
              <p class="thumbnail-classic-desc text-bold text-uppercase veil reveal-xs-block">Restaurant</p>
            </figcaption>
          </figure>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="thumbnail-classic thumbnail-album" data-lightgallery="dynamic" data-lg-dynamic-elements="[{&quot;thumb&quot;:&quot;images/portfolio/portfolio-17-570x420.jpg&quot;,&quot;src&quot;:&quot;images/portfolio/portfolio-17-1170x600.jpg&quot;},{&quot;thumb&quot;:&quot;images/portfolio/portfolio-16-570x420.jpg&quot;,&quot;src&quot;:&quot;images/portfolio/portfolio-16-1170x600.jpg&quot;},{&quot;thumb&quot;:&quot;images/portfolio/portfolio-18-570x420.jpg&quot;,&quot;src&quot;:&quot;images/portfolio/portfolio-18-1170x600.jpg&quot;}]">
          <figure>
            <img height="420" src="images/portfolio/portfolio-17-570x420.jpg" alt="lol">
            <figcaption class="thumbnail-classic-caption text-center">
              <h4 class="thumbnail-classic-title">Album #3</h4>
              <p class="thumbnail-classic-desc text-bold text-uppercase veil reveal-xs-block">Travel</p>
            </figcaption>
          </figure>
        </div>
      </div>
    </div>
  </div>
</section>
