<section class="section novi-background section-98 section-sm-110">
  <div class="shell">
          <div class="isotope-wrap">
            <div class="row">
              <!-- Isotope Filters-->
              <div class="col-lg-12">
                <div class="isotope-filters isotope-filters-horizontal">
                  <ul class="list-inline list-inline-sm">
                    <li class="veil-md">
                      <p>Choose your category:</p>
                    </li>
                    <li class="section-relative">
                      <button class="isotope-filters-toggle btn btn-sm btn-default" data-custom-toggle="isotope-1" data-custom-toggle-disable-on-blur="true">Filter<span class="caret"></span></button>
                      <ul class="list-sm-inline isotope-filters-list" id="isotope-1">
                        <li><a class="text-bold active" data-isotope-filter="*" data-isotope-group="gallery" href="#">All</a></li>
                        <li><a class="text-bold" data-isotope-filter="Clients" data-isotope-group="gallery" href="#">Clients</a></li>
                        <li><a class="text-bold" data-isotope-filter="Business" data-isotope-group="gallery" href="#">Business</a></li>
                        <li><a class="text-bold" data-isotope-filter="Marketing" data-isotope-group="gallery" href="#">Marketing</a></li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
              <!-- Isotope Content-->
              <div class="col-lg-12 offset-top-34">
                <div class="isotope" data-isotope-layout="masonry" data-isotope-group="gallery">
                  <div class="row grid-group-sm" data-lightgallery="group">
                    <div class="col-xs-12 col-sm-6 col-md-3 isotope-item" data-filter="Clients">
                            <!-- Thumbnail Zoe-->
                            <figure class="thumbnail-zoe"><a data-lightgallery="dynamic" data-lg-dynamic-elements='[{"thumb":"images/portfolio/portfolio-03-570x420.jpg","src":"images/portfolio/portfolio-03-1170x600.jpg"},{"thumb":"images/portfolio/portfolio-04-570x420.jpg","src":"images/portfolio/portfolio-04-1170x600.jpg"},{"thumb":"images/portfolio/portfolio-05-570x420.jpg","src":"images/portfolio/portfolio-05-1170x600.jpg"}]'><img height="420" src="images/portfolio/portfolio-15-270x420.jpg" alt=""></a>
                              <figcaption>
                                <ul class="list-inline">
                                  <li><a href="#"><span class="novi-icon icon icon-xxs mdi mdi-heart-outline"></span></a></li>
                                  <li><a href="#"><span class="novi-icon icon icon-xxs mdi mdi-comment-multiple-outline"></span></a></li>
                                  <li><a href="#"><span class="novi-icon icon icon-xxs mdi mdi-open-in-new"></span></a></li>
                                </ul>
                              </figcaption>
                            </figure>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 isotope-item" data-filter="Business">
                            <!-- Thumbnail Zoe-->
                            <figure class="thumbnail-zoe"><a data-lightgallery="dynamic" data-lg-dynamic-elements='[{"thumb":"images/portfolio/portfolio-03-570x420.jpg","src":"images/portfolio/portfolio-03-1170x600.jpg"},{"thumb":"images/portfolio/portfolio-04-570x420.jpg","src":"images/portfolio/portfolio-04-1170x600.jpg"},{"thumb":"images/portfolio/portfolio-05-570x420.jpg","src":"images/portfolio/portfolio-05-1170x600.jpg"}]'><img height="420" src="images/portfolio/portfolio-18-570x420.jpg" alt=""></a>
                              <figcaption>
                                <h5 class="thumbnail-zoe-title veil reveal-lg-block">Your Title</h5>
                                <ul class="list-inline">
                                  <li><a href="#"><span class="novi-icon icon icon-xxs mdi mdi-heart-outline"></span></a></li>
                                  <li><a href="#"><span class="novi-icon icon icon-xxs mdi mdi-comment-multiple-outline"></span></a></li>
                                  <li><a href="#"><span class="novi-icon icon icon-xxs mdi mdi-open-in-new"></span></a></li>
                                </ul>
                              </figcaption>
                            </figure>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3 isotope-item" data-filter="Marketing">
                            <!-- Thumbnail Zoe-->
                            <figure class="thumbnail-zoe"><a data-lightgallery="dynamic" data-lg-dynamic-elements='[{"thumb":"images/portfolio/portfolio-03-570x420.jpg","src":"images/portfolio/portfolio-03-1170x600.jpg"},{"thumb":"images/portfolio/portfolio-04-570x420.jpg","src":"images/portfolio/portfolio-04-1170x600.jpg"},{"thumb":"images/portfolio/portfolio-05-570x420.jpg","src":"images/portfolio/portfolio-05-1170x600.jpg"}]'><img height="270" src="images/portfolio/portfolio-14-270x270.jpg" alt=""></a>
                              <figcaption>
                                <ul class="list-inline">
                                  <li><a href="#"><span class="novi-icon icon icon-xxs mdi mdi-heart-outline"></span></a></li>
                                  <li><a href="#"><span class="novi-icon icon icon-xxs mdi mdi-comment-multiple-outline"></span></a></li>
                                  <li><a href="#"><span class="novi-icon icon icon-xxs mdi mdi-open-in-new"></span></a></li>
                                </ul>
                              </figcaption>
                            </figure>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3 isotope-item" data-filter="Business">
                            <!-- Thumbnail Zoe-->
                            <figure class="thumbnail-zoe"><a data-lightgallery="dynamic" data-lg-dynamic-elements='[{"thumb":"images/portfolio/portfolio-03-570x420.jpg","src":"images/portfolio/portfolio-03-1170x600.jpg"},{"thumb":"images/portfolio/portfolio-04-570x420.jpg","src":"images/portfolio/portfolio-04-1170x600.jpg"},{"thumb":"images/portfolio/portfolio-05-570x420.jpg","src":"images/portfolio/portfolio-05-1170x600.jpg"}]'><img height="270" src="images/portfolio/portfolio-20-270x270.jpg" alt=""></a>
                              <figcaption>
                                <ul class="list-inline">
                                  <li><a href="#"><span class="novi-icon icon icon-xxs mdi mdi-heart-outline"></span></a></li>
                                  <li><a href="#"><span class="novi-icon icon icon-xxs mdi mdi-comment-multiple-outline"></span></a></li>
                                  <li><a href="#"><span class="novi-icon icon icon-xxs mdi mdi-open-in-new"></span></a></li>
                                </ul>
                              </figcaption>
                            </figure>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 isotope-item" data-filter="Clients">
                            <!-- Thumbnail Zoe-->
                            <figure class="thumbnail-zoe"><a data-lightgallery="dynamic" data-lg-dynamic-elements='[{"thumb":"images/portfolio/portfolio-03-570x420.jpg","src":"images/portfolio/portfolio-03-1170x600.jpg"},{"thumb":"images/portfolio/portfolio-04-570x420.jpg","src":"images/portfolio/portfolio-04-1170x600.jpg"},{"thumb":"images/portfolio/portfolio-05-570x420.jpg","src":"images/portfolio/portfolio-05-1170x600.jpg"}]'><img height="270" src="images/portfolio/portfolio-17-570x270.jpg" alt=""></a>
                              <figcaption>
                                <h5 class="thumbnail-zoe-title veil reveal-lg-block">Your Title</h5>
                                <ul class="list-inline">
                                  <li><a href="#"><span class="novi-icon icon icon-xxs mdi mdi-heart-outline"></span></a></li>
                                  <li><a href="#"><span class="novi-icon icon icon-xxs mdi mdi-comment-multiple-outline"></span></a></li>
                                  <li><a href="#"><span class="novi-icon icon icon-xxs mdi mdi-open-in-new"></span></a></li>
                                </ul>
                              </figcaption>
                            </figure>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3 isotope-item" data-filter="Marketing">
                            <!-- Thumbnail Zoe-->
                            <figure class="thumbnail-zoe"><a data-lightgallery="dynamic" data-lg-dynamic-elements='[{"thumb":"images/portfolio/portfolio-03-570x420.jpg","src":"images/portfolio/portfolio-03-1170x600.jpg"},{"thumb":"images/portfolio/portfolio-04-570x420.jpg","src":"images/portfolio/portfolio-04-1170x600.jpg"},{"thumb":"images/portfolio/portfolio-05-570x420.jpg","src":"images/portfolio/portfolio-05-1170x600.jpg"}]'><img height="270" src="images/portfolio/portfolio-16-270x270.jpg" alt=""></a>
                              <figcaption>
                                <ul class="list-inline">
                                  <li><a href="#"><span class="novi-icon icon icon-xxs mdi mdi-heart-outline"></span></a></li>
                                  <li><a href="#"><span class="novi-icon icon icon-xxs mdi mdi-comment-multiple-outline"></span></a></li>
                                  <li><a href="#"><span class="novi-icon icon icon-xxs mdi mdi-open-in-new"></span></a></li>
                                </ul>
                              </figcaption>
                            </figure>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3 isotope-item" data-filter="Marketing">
                            <!-- Thumbnail Zoe-->
                            <figure class="thumbnail-zoe"><a data-lightgallery="dynamic" data-lg-dynamic-elements='[{"thumb":"images/portfolio/portfolio-03-570x420.jpg","src":"images/portfolio/portfolio-03-1170x600.jpg"},{"thumb":"images/portfolio/portfolio-04-570x420.jpg","src":"images/portfolio/portfolio-04-1170x600.jpg"},{"thumb":"images/portfolio/portfolio-05-570x420.jpg","src":"images/portfolio/portfolio-05-1170x600.jpg"}]'><img height="420" src="images/portfolio/portfolio-10-270x420.jpg" alt=""></a>
                              <figcaption>
                                <ul class="list-inline">
                                  <li><a href="#"><span class="novi-icon icon icon-xxs mdi mdi-heart-outline"></span></a></li>
                                  <li><a href="#"><span class="novi-icon icon icon-xxs mdi mdi-comment-multiple-outline"></span></a></li>
                                  <li><a href="#"><span class="novi-icon icon icon-xxs mdi mdi-open-in-new"></span></a></li>
                                </ul>
                              </figcaption>
                            </figure>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3 isotope-item" data-filter="Business">
                            <!-- Thumbnail Zoe-->
                            <figure class="thumbnail-zoe"><a data-lightgallery="dynamic" data-lg-dynamic-elements='[{"thumb":"images/portfolio/portfolio-03-570x420.jpg","src":"images/portfolio/portfolio-03-1170x600.jpg"},{"thumb":"images/portfolio/portfolio-04-570x420.jpg","src":"images/portfolio/portfolio-04-1170x600.jpg"},{"thumb":"images/portfolio/portfolio-05-570x420.jpg","src":"images/portfolio/portfolio-05-1170x600.jpg"}]'><img height="270" src="images/portfolio/portfolio-04-270x270.jpg" alt=""></a>
                              <figcaption>
                                <ul class="list-inline">
                                  <li><a href="#"><span class="novi-icon icon icon-xxs mdi mdi-heart-outline"></span></a></li>
                                  <li><a href="#"><span class="novi-icon icon icon-xxs mdi mdi-comment-multiple-outline"></span></a></li>
                                  <li><a href="#"><span class="novi-icon icon icon-xxs mdi mdi-open-in-new"></span></a></li>
                                </ul>
                              </figcaption>
                            </figure>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 isotope-item" data-filter="Clients">
                            <!-- Thumbnail Zoe-->
                            <figure class="thumbnail-zoe"><a data-lightgallery="dynamic" data-lg-dynamic-elements='[{"thumb":"images/portfolio/portfolio-03-570x420.jpg","src":"images/portfolio/portfolio-03-1170x600.jpg"},{"thumb":"images/portfolio/portfolio-04-570x420.jpg","src":"images/portfolio/portfolio-04-1170x600.jpg"},{"thumb":"images/portfolio/portfolio-05-570x420.jpg","src":"images/portfolio/portfolio-05-1170x600.jpg"}]'><img height="270" src="images/portfolio/portfolio-19-570x270.jpg" alt=""></a>
                              <figcaption>
                                <h5 class="thumbnail-zoe-title veil reveal-lg-block">Your Title</h5>
                                <ul class="list-inline">
                                  <li><a href="#"><span class="novi-icon icon icon-xxs mdi mdi-heart-outline"></span></a></li>
                                  <li><a href="#"><span class="novi-icon icon icon-xxs mdi mdi-comment-multiple-outline"></span></a></li>
                                  <li><a href="#"><span class="novi-icon icon icon-xxs mdi mdi-open-in-new"></span></a></li>
                                </ul>
                              </figcaption>
                            </figure>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
  </div>
</section>
