<section class="section">
    <div class="bg-vide" data-vide-bg="video/bg-video-3/bg-video-3-lg" data-vide-options="posterType: jpg">
        <section class="context-dark bg-overlay-gray-darkest">
            <div class="container">
                <div class="row align-items-sm-center justify-content-sm-center section-cover section-110">
                    <div class="col-sm-12">
                        <div>
                            <h1 class="text-uppercase">
                                <span class="big">
                                    Background Video
                                </span>
                            </h1>
                        </div>
                        <div class="row justify-content-sm-center offset-top-0">
                            <div class="col-sm-10">
                                <div class="offset-top-20">
                                    <h4 class="text-light">
                                        Feel the power of our brand new Background Video Plugin.
                                    </h4>
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-sm-center offset-top-0">
                            <div class="col-sm-5 col-md-4 col-lg-3 offset-top-41 offset-lg-top-66">
                                <a class="btn btn-block btn-primary" href="//documentation.zemez.io/html/bootstrap/intense/">
                                    buy intense now
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>
