<section class="section parallax-container bg-gray-base context-dark" data-parallax-img="images/intros/intro-01-1920x955.jpg">
    <div class="parallax-content">
        <div class="container">
            <div class="section-110 section-cover row justify-content-lg-center align-items-lg-center">
                <div class="col-lg-12">
                    <h1 class="text-uppercase text-ubold text-spacing-60">
                        <span class="big">
                            Become our customer
                        </span>
                    </h1>
                    <h4 class="offset-top-14 offset-md-top-20 text-light">
                        The smartest and most flexible bootstrap template by TemplateMonster you’ve ever seen.
                        <span class="d-none d-md-block">
                            Create exactly what you need with our powerful bootstrap toolkit.
                        </span>
                    </h4>
                    <div class="group offset-top-14 offset-md-top-30">
                        <a class="btn btn-primary" href="make-an-appointment.html">
                            make an appointment
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
