<section class="section novi-background bg-black-haze section-top-124">
        <div class="container">
          <h1>Call To Action Type 3</h1>
          <hr class="divider bg-mantis">
          <div class="row justify-content-sm-center justify-content-lg-start align-items-lg-end offset-top-66">
            <div class="col-lg-7 col-xl-6 offset-xxl-1 d-none d-lg-block"><img class="img-fluid" src="images/pages/call-to-action-01-566x548.png" alt="" width="566" height="548"></div>
            <div class="col-sm-10 col-md-8 col-lg-5 col-xl-4">
              <div class="section-bottom-66 section-md-bottom-41">
                <h1>Get Started Now!</h1>
                <form class="well-lg bg-default shadow-drop-md text-left rd-mailform" data-form-output="form-output-global" data-form-type="order" method="post" action="bat/rd-mailform.php">
                  <p>Start your business with us by creating your first account.</p>
                  <div class="form-group offset-top-30">
                    <label class="form-label form-label-sm" for="call-to-action-label-group-1">Full Name:</label>
                    <input class="form-control input-sm form-control-impressed form-validation-inside" id="call-to-action-label-group-1" type="text" data-constraints="@Required"/>
                  </div>
                  <div class="form-group">
                    <label class="form-label form-label-sm" for="call-to-action-label-group-2">E-Mail:</label>
                    <input class="form-control input-sm form-control-impressed form-validation-inside" id="call-to-action-label-group-2" type="text" data-constraints="@Required @Email"/>
                  </div>
                  <div class="form-group">
                    <label class="form-label form-label-sm" for="call-to-action-label-group-3">Phone:</label>
                    <input class="form-control input-sm form-control-impressed form-validation-inside" id="call-to-action-label-group-3" type="text" data-constraints="@Required"/>
                  </div>
                  <div class="form-group offset-top-14">I am: &nbsp;
                    <div class="group-sm d-inline">
                      <div class="custom-control custom-radio d-inline offset-top-10">
                        <input class="custom-control-input" id="customRadio3" name="input-group-1" value="user" type="radio">
                        <label class="custom-control-label" for="customRadio3">User</label>
                      </div>
                      <div class="custom-control custom-radio d-inline offset-top-10">
                        <input class="custom-control-input" id="customRadio4" name="input-group-1" value="developer" type="radio">
                        <label class="custom-control-label" for="customRadio4">Developer</label>
                      </div>
                    </div>
                  </div>
                  <button class="btn btn-block btn-primary offset-top-20" type="submit">Buy intense Now</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </section>