<section class="section novi-background section-50 section-sm-top-110">
        <div class="container">
          <h1>Carousel content box</h1>
          <hr class="divider bg-mantis">
          <div class="row justify-content-md-center offset-top-66">
            <!-- Simple quote Slider-->
            <div class="col-md-8 col-lg-8 inset-lg-right-80">
              <div class="owl-carousel owl-carousel-classic owl-carousel-class-light shadow-drop-md" data-items="1" data-nav="false" data-dots="false" data-nav-custom=".owl-custom-navigation">
                <div>
                  <!-- Media Elements-->
                  <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="//www.youtube.com/embed/-AhmuMqZB0s?wmode=transparent"></iframe>
                  </div>
                </div>
                <div><img class="img-fluid element-fullwidth" src="images/portfolio/portfolio-single-01-716x404.jpg" width="716" height="404" alt=""></div>
                <div><img class="img-fluid element-fullwidth" src="images/portfolio/portfolio-single-02-716x404.jpg" width="716" height="404" alt=""></div>
              </div>
            </div>
            <div class="col-md-8 col-lg-4 text-md-left offset-top-34 offset-lg-top-0">
              <h3>Website Design</h3>
              <p>A website is a medium that connects a person with the world of digital data. With its help users can access information, make purchases, communicate with each other, and do loads of other things.</p>
              <div class="offset-top-20">
                <p>Due to the clever marketing strategy and professional web designing, corporations can grow their client base with ease. On the modern market the competition is very tough, so in order to be a success, businesses experiment with multiple strategies with the goal of coming up with the perfect one.</p>
              </div>
              <div class="owl-custom-navigation owl-customer-navigation offset-top-24">
                <div class="owl-nav">
                  <div class="owl-prev novi-icon mdi mdi-chevron-left" data-owl-prev></div>
                  <div class="owl-next novi-icon mdi mdi-chevron-right" data-owl-next></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>