<section class="section novi-background section-50 section-lg-98 section-lg-top-110">
        <div class="container-fluid">
          <h1>Contact Us</h1>
          <hr class="divider bg-mantis">
          <div class="row justify-content-sm-center text-md-left">
            <div class="col-sm-10 col-md-8 col-lg-8 col-xxl-6 text-left">
              <p>You can contact me any way that is convenient for you. I am available 24/7 via fax, email or telephone. You can also use a quick contact form located on this page to ask a question about my services and projects I work on. I would be happy to answer your questions or offer any help.</p>
            </div>
          </div>
          <div class="row justify-content-sm-center text-md-left offset-top-50">
            <div class="col-sm-10 col-md-8 col-lg-8 col-xl-5 col-xxl-4">
              <!-- RD Mailform-->
              <form class="rd-mailform text-left" data-form-output="form-output-global" data-form-type="contact" method="post" action="bat/rd-mailform.php">
                <div class="row">
                  <div class="col-xl-6">
                    <div class="form-group">
                      <label class="form-label" for="contact-me-name">Name</label>
                      <input class="form-control" id="contact-me-name" type="text" name="name" data-constraints="@Required">
                    </div>
                  </div>
                  <div class="col-xl-6 offset-top-20 offset-xl-top-0">
                    <div class="form-group">
                      <label class="form-label" for="contact-me-phone">Phone</label>
                      <input class="form-control" id="contact-me-phone" type="text" name="phone" data-constraints="@Required">
                    </div>
                  </div>
                  <div class="col-xl-12 offset-top-20 offset-xl-top-30">
                    <div class="form-group">
                      <label class="form-label" for="contact-me-email">E-Mail</label>
                      <input class="form-control" id="contact-me-email" type="email" name="email" data-constraints="@Required @Email">
                    </div>
                  </div>
                  <div class="col-xl-12 offset-top-20 offset-xl-top-30">
                    <div class="form-group">
                      <label class="form-label" for="contact-me-message">Message</label>
                      <textarea class="form-control" id="contact-me-message" name="message" data-constraints="@Required" style="height: 150px"></textarea>
                    </div>
                  </div>
                </div>
                <div class="row justify-content-sm-center justify-content-xl-start text-center text-xl-left offset-top-30">
                  <div class="col-sm-8 col-md-6">
                    <button class="btn btn-lg btn-block btn-primary" type="submit">send message</button>
                  </div>
                </div>
              </form>
            </div>
            <div class="col-sm-10 col-md-8 col-lg-8 col-xl-3 col-xxl-2 offset-top-50 offset-xl-top-0">
              <div class="inset-xxl-right-20 text-center text-xl-left">
                <address class="contact-info d-md-inline-block text-left">
                  <div class="unit unit-spacing-sm flex-row p">
                    <div class="unit-left"><span class="icon icon-xxs novi-icon fa fa-map-marker"></span></div>
                    <div class="unit-body"><a href="#">8901 Marmora Road, Glasgow, D04 89GR</a></div>
                  </div>
                  <div class="p unit unit-spacing-xs flex-row offset-top-20">
                    <div class="unit-left"><span class="icon icon-xxs novi-icon fa fa-phone"></span></div>
                    <div class="unit-body"><a href="tel:#">1-800-1234-567</a></div>
                  </div>
                  <div class="p unit unit-spacing-xs flex-row offset-top-10">
                    <div class="unit-left"><span class="icon icon-xxs novi-icon fa fa-envelope"></span></div>
                    <div class="unit-body"><a href="mailto:#">jessica@demolink.org</a></div>
                  </div>
                </address>
              </div>
              <div class="text-center text-xl-left offset-top-30">
                      <ul class="list-inline">
                        <li class="list-inline-item"><a class="icon novi-icon fa fa-facebook icon-xxs icon-circle icon-darkest-filled" href="#"></a></li>
                        <li class="list-inline-item"><a class="icon novi-icon fa fa-twitter icon-xxs icon-circle icon-darkest-filled" href="#"></a></li>
                        <li class="list-inline-item"><a class="icon novi-icon fa fa-google-plus icon-xxs icon-circle icon-darkest-filled" href="#"></a></li>
                        <li class="list-inline-item"><a class="icon novi-icon fa fa-500px icon-xxs icon-circle icon-darkest-filled" href="#"></a></li>
                        <li class="list-inline-item"><a class="icon novi-icon fa fa-behance icon-xxs icon-circle icon-darkest-filled" href="#"></a></li>
                      </ul>
              </div>
            </div>
          </div>
        </div>
      </section>