<section class="section novi-background section-98 section-sm-110 bg-gray-darkest context-dark">
        <div class="container-fluid">
          <div class="row justify-content-md-center">
            <div class="col-md-8 col-lg-12">
              <div class="row">
                <div class="col-lg-3 col-md-6">
                        <!-- Counter type 2-->
                        <div class="counter-type-2"><span class="icon novi-icon mdi mdi-vector-arrange-below text-mantis"></span>
                          <div class="offset-top-10"><span class="h1 font-weight-bold counter" data-speed="3000" data-from="0" data-to="58249"></span>
                          </div>
                          <div class="offset-xxl-top-10">
                            <div></div>
                          </div>
                        </div>
                </div>
                <div class="col-lg-3 col-md-6 offset-top-66 offset-md-top-0">
                        <!-- Counter type 2-->
                        <div class="counter-type-2"><span class="icon novi-icon mdi mdi-account-multiple-outline text-malibu"></span>
                          <div class="offset-top-10"><span class="h1 font-weight-bold counter" data-speed="2500" data-from="0" data-to="246"></span><span class="h1 font-weight-bold">K</span>
                          </div>
                          <div class="offset-xxl-top-10">
                            <div></div>
                          </div>
                        </div>
                </div>
                <div class="col-lg-3 col-md-6 offset-top-66 offset-lg-top-0">
                        <!-- Counter type 2-->
                        <div class="counter-type-2"><span class="icon novi-icon mdi mdi-clock text-neon-carrot"></span>
                          <div class="offset-top-10"><span class="h1 font-weight-bold counter" data-speed="1500" data-from="0" data-to="1200"></span>
                          </div>
                          <div class="offset-xxl-top-10">
                            <div></div>
                          </div>
                        </div>
                </div>
                <div class="col-lg-3 col-md-6 offset-top-66 offset-lg-top-0">
                        <!-- Counter type 2-->
                        <div class="counter-type-2"><span class="icon novi-icon mdi mdi-code-brackets text-ku-crimson"></span>
                          <div class="offset-top-10"><span class="h1 font-weight-bold counter" data-speed="1300" data-from="0" data-to="834"></span><span class="h1 font-weight-bold">K</span>
                          </div>
                          <div class="offset-xxl-top-10">
                            <div></div>
                          </div>
                        </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>