<section class="section novi-background section-98 section-md-110 context-dark" style="background: #191919 url(images/backgrounds/background-02-481x360.png);">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-8 offset-md-2 col-lg-12 offset-lg-0">
              <div class="row">
                <div class="col-md-6 col-lg-3 offset-lg-0">
                        <!-- Counter type 1-->
                        <div class="counter-type-1">
                          <div class="h1"><span class="big counter font-weight-bold text-blue-gray" data-step="3000" data-from="0" data-to="58249">0</span>
                            <hr class="divider bg-default">
                          </div>
                          <h6 class="text-uppercase font-weight-bold text-spacing-60 offset-top-20">Templates</h6>
                        </div>
                </div>
                <div class="col-md-6 col-lg-3 offset-top-66 offset-md-top-0">
                        <!-- Counter type 1-->
                        <div class="counter-type-1">
                          <div class="h1"><span class="big counter font-weight-bold text-blue-gray" data-speed="2500" data-from="0" data-to="246">0</span><span class="big font-weight-bold text-blue-gray">K</span>
                            <hr class="divider bg-default">
                          </div>
                          <h6 class="text-uppercase font-weight-bold text-spacing-60 offset-top-20">Happy Clients</h6>
                        </div>
                </div>
                <div class="col-md-6 col-lg-3 offset-top-66 offset-lg-top-0">
                        <!-- Counter type 1-->
                        <div class="counter-type-1">
                          <div class="h1"><span class="big counter font-weight-bold text-blue-gray" data-step="1500" data-from="0" data-to="1200">0</span>
                            <hr class="divider bg-default">
                          </div>
                          <h6 class="text-uppercase font-weight-bold text-spacing-60 offset-top-20">Hours of Coding</h6>
                        </div>
                </div>
                <div class="col-md-6 col-lg-3 offset-top-66 offset-lg-top-0">
                        <!-- Counter type 1-->
                        <div class="counter-type-1">
                          <div class="h1"><span class="big counter font-weight-bold text-blue-gray" data-speed="1300" data-from="0" data-to="834">0</span><span class="big font-weight-bold text-blue-gray">K</span>
                            <hr class="divider bg-default">
                          </div>
                          <h6 class="text-uppercase font-weight-bold text-spacing-60 offset-top-20">Lines of Code</h6>
                        </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>