<section class="section bg-black context-dark parallax-container" data-parallax-img="images/intros/intro-03-1920x955.jpg">
  <div class="parallax-content">
          <div class="container">
            <div class="section-110 section-cover row justify-content-lg-center align-items-lg-center justify-content-xxl-end">
              <div class="col-lg-12 col-xl-10 col-xxl-6">
                <div class="row">
                  <div class="col-lg-6 col-xxl-12 text-lg-left text-xxl-center">
                    <h1 class="text-uppercase text-ubold text-spacing-60"><span class="big">create <br> an account</span></h1>
                    <h4 class="d-none d-md-block offset-md-top-20 text-light">Let's Create Something Together!</h4>
                  </div>
                  <div class="col-lg-6 col-xxl-12 offset-md-top-66">
                    <div class="row justify-content-md-center">
                      <div class="col-md-6 col-lg-8">
                        <!-- RD Mailform-->
                        <form class="rd-mailform text-left" data-form-output="form-output-global" data-form-type="contact" method="post" action="bat/rd-mailform.php">
                          <div class="form-group">
                            <label class="form-label" for="form-reg-name">Name</label>
                            <input class="form-control" id="form-reg-name" type="text" data-constraints="@Required" name="name">
                          </div>
                          <div class="form-group offset-top-20 offset-md-top-30">
                            <label class="form-label" for="form-reg-email">E-mail</label>
                            <input class="form-control" id="form-reg-email" type="email" data-constraints="@Required @Email" name="email">
                          </div>
                          <div class="form-group offset-top-20 offset-md-top-30">
                            <label class="form-label" for="form-reg-username">Username</label>
                            <input class="form-control" id="form-reg-username" type="text" data-constraints="@Required" name="username">
                          </div>
                          <div class="form-group offset-top-20 offset-md-top-30">
                            <label class="form-label" for="form-reg-password">Password</label>
                            <input class="form-control" id="form-reg-password" type="password" data-constraints="@Required" name="password">
                          </div>
                          <div class="group offset-top-30">
                            <div class="group-item element-fullwidth">
                              <button class="btn btn-block btn-primary" type="submit">create account</button>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
</section>