<section class="section context-dark">
        <div class="bg-vide" data-vide-bg="video/bg-video-1/bg-video-1-lg" data-vide-options="posterType: jpg">
          <div class="section-98 section-sm-110 bg-overlay-gray-darkest">
            <div class="container">
              <div class="row justify-content-md-center">
                <div class="col-md-10">
                  <h1>Dark Video Section</h1>
                  <hr class="divider bg-mantis">
                  <p>Even when your project is over, we are always glad to help you. As our client, you can expect the highest level of technical support anytime. Our support team is online 24/7, and is ready to help you with any design-related issue.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>