<section class="section parallax-container" data-parallax-img="images/backgrounds/background-04-1920x657.jpg">
        <div class="parallax-content section-50 section-md-bottom-0 section-lg-top-110 section-lg-bottom-0 bg-overlay-gray-darkest context-dark">
          <div class="container">
            <h1>Dark parallax content box</h1>
            <div class="offset-top-20">
              <hr class="divider bg-mantis">
            </div>
            <div class="row justify-content-sm-center align-items-xl-end">
              <div class="col-md-9 col-xl-4 text-xl-left section-lg-85">
                <h3 class="font-weight-bold">Cross-Browser Support</h3>
                <p>RD Mailform is compatible with all the modern-day browsers. In such a way, all visitors can use your forms regardless of their browser preferences.</p>
                <div class="row justify-content-sm-center justify-content-xl-start text-center text-xl-left offset-top-41">
                  <div class="col-sm-6 col-lg-5 col-xl-9"><a class="btn btn-block btn-default" href="//documentation.zemez.io/html/bootstrap/intense/">buy intense now</a></div>
                </div>
              </div>
              <div class="col-md-9 col-xl-8 offset-md-top-66 offset-xl-top-0 text-xl-right">
                <div class="mock-up-wrapper d-none d-md-block">
                  <div class="mock-up-desktop-wrapper"><img class="mock-up-desktop img-fluid" src="images/features/rd-mailform-02-619x439.png" width="619" height="439" alt=""></div><span class="d-none"></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>