<footer class="section novi-background section-relative section-top-66 section-bottom-34 page-footer bg-black context-dark">
        <div class="container">
          <div class="row justify-content-center justify-content-xl-between text-xl-left grid-group-md">
            <div class="col-sm-12 col-xl-3">
              <!-- Footer brand-->
              <div class="footer-brand"><a href="index.html"><img style='margin-top: -5px;margin-left: -15px;' width='138' height='31' src='images/intense/logo-light.png' alt=''/></a></div>
              <p class="text-darker offset-top-4">Feel the power of future</p>
              <address class="contact-info offset-top-30 p">
                <div>
                  <dl>
                    <dt class="text-white">Address:</dt>
                    <dd class="text-dark d-xl-block">28 Jackson Blvd Ste <span class="d-xl-block">1020 Chicago</span> <span class="d-xl-block">IL 60604-2340.</span></dd>
                  </dl>
                </div>
                <div>
                  <dl class="offset-top-0">
                    <dt class="text-white">Telephone:</dt>
                    <dd class="text-dark"><a href="#">+1 800 559 6580</a></dd>
                  </dl>
                </div>
                <div>
                  <dl class="offset-top-0">
                    <dt class="text-white">E-mail:</dt>
                    <dd class="text-dark"><a href="mailto:mail@demolink.org">mail@demolink.org</a></dd>
                  </dl>
                </div>
              </address>
              <div class="offset-top-34 text-sm-center text-xl-left">
                      <ul class="list-inline">
                        <li class="list-inline-item"><a class="icon novi-icon fa fa-facebook icon-xxs icon-circle icon-darkest-filled" href="#"></a></li>
                        <li class="list-inline-item"><a class="icon novi-icon fa fa-twitter icon-xxs icon-circle icon-darkest-filled" href="#"></a></li>
                        <li class="list-inline-item"><a class="icon novi-icon fa fa-google-plus icon-xxs icon-circle icon-darkest-filled" href="#"></a></li>
                        <li class="list-inline-item"><a class="icon novi-icon fa fa-linkedin icon-xxs icon-circle icon-darkest-filled" href="#"></a></li>
                      </ul>
              </div>
            </div>
            <div class="col-sm-10 col-md-6 col-xl-4 text-sm-left">
              <h6 class="text-uppercase text-spacing-60 text-center text-lg-left">What people say</h6>
                    <!-- Simple quote Slider-->
                    <div class="owl-carousel owl-carousel-classic owl-carousel-class-light owl-carousel-simple-quote" data-items="1" data-nav="false" data-dots="true">
                      <div>
                        <blockquote class="quote quote-simple-2 text-left">
                          <p class="quote-body offset-bottom-0">
                            <q>I am glad I’ve purchased a template from TemplateMonster. Extraordinary customer service, always available, perfect care and knowledge of the technicians. Essential if you are not an expert programmer. In any case highly recommended. Congratulations!</q>
                          </p>
                          <h6 class="quote-author text-uppercase text-white">
                            <cite class="text-normal">- Alex Merphy</cite>
                          </h6>
                        </blockquote>
                      </div>
                      <div>
                        <blockquote class="quote quote-simple-2 text-left">
                          <p class="quote-body offset-bottom-0">
                            <q>I am glad I’ve purchased a template from TemplateMonster. Extraordinary customer service, always available, perfect care and knowledge of the technicians. Essential if you are not an expert programmer. In any case highly recommended. Congratulations!</q>
                          </p>
                          <h6 class="quote-author text-uppercase text-white">
                            <cite class="text-normal">- July Mao</cite>
                          </h6>
                        </blockquote>
                      </div>
                    </div>
            </div>
            <div class="col-sm-10 col-md-6 col-lg-6 col-xl-4 text-sm-left">
              <h6 class="text-uppercase text-spacing-60 text-center text-lg-left">Contact us</h6>
                    <!-- RD Mailform-->
                    <form class="rd-mailform offset-top-34 offset-lg-top-0 text-left" data-form-output="form-output-global" data-form-type="contact" method="post" action="bat/rd-mailform.php">
                      <div class="form-group">
                        <label class="form-label form-label-sm" for="footer-v2-name">Name:</label>
                        <input class="form-control input-sm form-control-impressed" id="footer-v2-name" type="text" data-constraints="@Required" name="name">
                      </div>
                      <div class="form-group offset-top-20">
                        <label class="form-label form-label-sm" for="footer-v2-email">Your Email*:</label>
                        <input class="form-control input-sm form-control-impressed" id="footer-v2-email" type="email" data-constraints="@Required @Email" name="email">
                      </div>
                      <div class="form-group offset-top-20">
                        <label class="form-label form-label-sm" for="footer-v2-message">Message*:</label>
                        <textarea class="form-control input-sm form-control-impressed" id="footer-v2-message" name="message" data-constraints="@Required" style="height: 80px"></textarea>
                      </div>
                      <div class="group offset-top-20">
                        <button class="btn btn-sm btn-primary" type="submit" style="padding-left: 30px; padding-right: 30px;">submit</button>
                      </div>
                    </form>
            </div>
          </div>
        </div>
        <div class="container offset-top-50">
          <p class="small text-darker">Intense &copy; <span class="copyright-year"></span> . <a href="privacy.html">Privacy Policy</a></p>
        </div>
      </footer>