<footer class="section novi-background section-relative section-34 page-footer bg-black context-dark">
        <div class="container">
          <div class="row justify-content-md-center text-xl-left">
            <div class="col-sm-12 col-lg-4">
              <!-- Footer brand-->
              <div class="footer-brand"><a href="index.html"><img style='margin-top: -5px;margin-left: -15px;' width='138' height='31' src='images/intense/logo-light.png' alt=''/></a></div>
              <p class="small text-darker offset-top-4">&copy; <span class="copyright-year"></span> . <a href="privacy.html">Privacy Policy</a></p>
            </div>
            <div class="col-sm-12 col-lg-8 text-lg-right offset-top-34 offset-lg-top-0">
              <div>
                <ul class="list-inline list-inline-dashed p text-darker">
                  <li class="list-inline-item"><a href="#">Documentation</a></li>
                  <li class="list-inline-item"><a href="#">Plugins</a></li>
                  <li class="list-inline-item"><a href="#">Themes</a></li>
                  <li class="list-inline-item"><a href="#">Support</a></li>
                  <li class="list-inline-item"><a href="#">GitHub</a></li>
                </ul>
              </div>
              <ul class="list-inline list-inline-white offset-top-10 text-darker">
                <li class="list-inline-item"><a class="fa fa-facebook" href="#"></a></li>
                <li class="list-inline-item"><a class="fa fa-twitter" href="#"></a></li>
                <li class="list-inline-item"><a class="fa fa-google-plus" href="#"></a></li>
                <li class="list-inline-item"><a class="fa fa-pinterest" href="#"></a></li>
                <li class="list-inline-item"><a class="fa fa-vimeo" href="#"></a></li>
                <li class="list-inline-item"><a class="fa fa-youtube" href="#"></a></li>
                <li class="list-inline-item"><a class="fa fa-linkedin" href="#"></a></li>
                <li class="list-inline-item"><a class="fa fa-github" href="#"></a></li>
                <li class="list-inline-item"><a class="fa fa-yahoo" href="#"></a></li>
              </ul>
            </div>
          </div>
        </div>
      </footer>