<section class="section novi-background section-50">
        <div class="container">
          <h1>Fullwidth content box</h1>
          <hr class="divider bg-mantis">
          <div class="row justify-content-sm-center justify-content-md-end offset-top-66">
            <div class="col-sm-10 col-md-6 section-image-aside section-image-aside-left text-left">
              <div class="section-image-aside-img d-none d-md-block" style="background-image: url(images/pages/careers-02-960x540.jpg)"></div>
              <div class="section-image-aside-body offset-top-41 offset-md-top-0 section-sm-66 inset-md-left-50">
                <div>
                  <h3 class="text-picton-blue">02</h3>
                </div>
                <div class="offset-top-10">
                  <h2> Diversity of Learning Opportunities at Intense</h2>
                </div>
                <div class="offset-top-20">
                  <p>When you join our team, you’ll dive into a knowledge-sharing environment. We encourage our employees to attend multiple conferences and workshops held both inside the company and on the outside. Keep in mind that you can take part in conferences as both a listener and speaker.</p>
                  <p>As a part of our benefits package, we also offer multiple courses for you to master new subjects. Our working environment is full of learning opportunities, which can’t help motivating for a steady professional growth.</p>
                  <p>Offices of Intense are located in different corners of the globe, so be ready to travel around the world. To save your budget, we cover all the travel costs including transportation, accommodation, food, and even some leisure activities. Our company gives you a perfect chance to explore the world and immerse in different cultures.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>