<section class="section novi-background section-98 section-sm-110">
        <div class="container">
          <div class="offset-top-34">
                  <div class="isotope-wrap">
                    <div class="row">
                      <!-- Isotope Filters-->
                      <div class="col-xl-12">
                        <div class="isotope-filters isotope-filters-horizontal">
                          <ul class="list-inline list-inline-sm">
                            <li class="list-inline-item d-lg-none">
                              <p>Choose your category:</p>
                            </li>
                            <li class="list-inline-item section-relative">
                              <button class="isotope-filters-toggle btn btn-sm btn-default" data-custom-toggle="isotope-1" data-custom-toggle-disable-on-blur="true">Filter<span class="caret"></span></button>
                              <ul class="list-sm-inline isotope-filters-list" id="isotope-1">
                                <li class="list-inline-item"><a class="font-weight-bold active" data-isotope-filter="*" data-isotope-group="gallery" href="#">All</a></li>
                                <li class="list-inline-item"><a class="font-weight-bold" data-isotope-filter="Gallery 1" data-isotope-group="gallery" href="#">Gallery 1</a></li>
                                <li class="list-inline-item"><a class="font-weight-bold" data-isotope-filter="Gallery 2" data-isotope-group="gallery" href="#">Gallery 2</a></li>
                              </ul>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <!-- Isotope Content-->
                      <div class="col-xl-12 offset-top-34">
                        <div class="isotope" data-isotope-layout="fitRows" data-isotope-group="gallery">
                          <div class="row grid-group-sm" data-lightgallery="group">
                            <div class="col-12 col-md-6 isotope-item" data-filter="Gallery 2">
                                    <!-- Thumbnail Apollo--><a class="thumbnail-apollo" href="#" target="_self">
                                      <figure><img width="570" height="420" src="images/portfolio/portfolio-06-570x420.jpg" alt="">
                                        <figcaption>
                                          <div>
                                            <div class="thumbnail-apollo-title">Donec pede justo</div>
                                          </div>
                                          <p class="small">An sincerity so extremity he additions. Her yet there truth merit. Mrs all projecting favourable now unpleasing.</p><span class="novi-icon fa-arrow-right"></span>
                                        </figcaption>
                                      </figure></a>
                            </div>
                            <div class="col-12 col-md-6 isotope-item" data-filter="Gallery 1">
                                    <!-- Thumbnail Apollo--><a class="thumbnail-apollo" href="#" target="_self">
                                      <figure><img width="570" height="420" src="images/portfolio/portfolio-07-570x420.jpg" alt="">
                                        <figcaption>
                                          <div>
                                            <div class="thumbnail-apollo-title">Donec pede justo</div>
                                          </div>
                                          <p class="small">An sincerity so extremity he additions. Her yet there truth merit. Mrs all projecting favourable now unpleasing.</p><span class="novi-icon fa-arrow-right"></span>
                                        </figcaption>
                                      </figure></a>
                            </div>
                            <div class="col-12 col-md-6 isotope-item" data-filter="Gallery 2">
                                    <!-- Thumbnail Apollo--><a class="thumbnail-apollo" href="#" target="_self">
                                      <figure><img width="570" height="420" src="images/portfolio/portfolio-05-570x420.jpg" alt="">
                                        <figcaption>
                                          <div>
                                            <div class="thumbnail-apollo-title">Donec pede justo</div>
                                          </div>
                                          <p class="small">An sincerity so extremity he additions. Her yet there truth merit. Mrs all projecting favourable now unpleasing.</p><span class="novi-icon fa-arrow-right"></span>
                                        </figcaption>
                                      </figure></a>
                            </div>
                            <div class="col-12 col-md-6 isotope-item" data-filter="Gallery 1">
                                    <!-- Thumbnail Apollo--><a class="thumbnail-apollo" href="#" target="_self">
                                      <figure><img width="570" height="420" src="images/portfolio/portfolio-04-570x420.jpg" alt="">
                                        <figcaption>
                                          <div>
                                            <div class="thumbnail-apollo-title">Donec pede justo</div>
                                          </div>
                                          <p class="small">An sincerity so extremity he additions. Her yet there truth merit. Mrs all projecting favourable now unpleasing.</p><span class="novi-icon fa-arrow-right"></span>
                                        </figcaption>
                                      </figure></a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
          </div>
        </div>
      </section>