<section class="section novi-background section-98 section-sm-110">
        <div class="container text-xl-left">
                <div class="isotope-wrap">
                  <div class="row">
                    <!-- Isotope Filters-->
                    <div class="col-xl-3">
                      <div class="isotope-filters isotope-filters-vertical">
                        <h4 class="text-uppercase font-weight-bold isotope-filters-title offset-top-34">Categories</h4>
                        <ul class="list-inline list-inline-sm">
                          <li class="list-inline-item d-lg-none">
                            <p>Choose your category:</p>
                          </li>
                          <li class="list-inline-item section-relative">
                            <button class="isotope-filters-toggle btn btn-sm btn-default" data-custom-toggle="isotope-1" data-custom-toggle-disable-on-blur="true">Filter<span class="caret"></span></button>
                            <ul class="list-sm-inline isotope-filters-list" id="isotope-1">
                              <li class="list-inline-item"><a class="font-weight-bold active" data-isotope-filter="*" data-isotope-group="gallery" href="#">All</a></li>
                              <li class="list-inline-item"><a class="font-weight-bold" data-isotope-filter="Clients" data-isotope-group="gallery" href="#">Clients</a></li>
                              <li class="list-inline-item"><a class="font-weight-bold" data-isotope-filter="Business" data-isotope-group="gallery" href="#">Business</a></li>
                              <li class="list-inline-item"><a class="font-weight-bold" data-isotope-filter="Marketing" data-isotope-group="gallery" href="#">Marketing</a></li>
                            </ul>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <!-- Isotope Content-->
                    <div class="col-xl-9 offset-xl-top-0 offset-top-34">
                      <div class="isotope" data-isotope-layout="masonry" data-isotope-group="gallery">
                        <div class="row grid-group-sm" data-lightgallery="group">
                          <div class="col-12 col-md-6 col-lg-4 isotope-item" data-filter="*"><a class="thumbnail-classic" data-lightgallery="item" href="images/portfolio/portfolio-04-1170x600.jpg">
                                    <figure><img width="270" height="270" src="images/portfolio/portfolio-04-270x270.jpg" alt="">
                                    </figure></a>
                          </div>
                          <div class="col-12 col-md-6 col-lg-4 isotope-item" data-filter="Marketing"><a class="thumbnail-classic" data-lightgallery="item" href="images/portfolio/portfolio-03-1170x600.jpg">
                                    <figure><img width="270" height="420" src="images/portfolio/portfolio-03-270x420.jpg" alt="">
                                    </figure></a>
                          </div>
                          <div class="col-12 col-md-6 col-lg-4 isotope-item" data-filter="Marketing"><a class="thumbnail-classic" data-lightgallery="item" href="images/portfolio/portfolio-08-570x420.jpg">
                                    <figure><img width="270" height="270" src="images/portfolio/portfolio-08-270x270.jpg" alt="">
                                    </figure></a>
                          </div>
                          <div class="col-12 col-md-6 col-lg-4 isotope-item" data-filter="Marketing"><a class="thumbnail-classic" data-lightgallery="item" href="images/portfolio/portfolio-15-1170x600.jpg">
                                    <figure><img width="270" height="420" src="images/portfolio/portfolio-15-270x420.jpg" alt="">
                                    </figure></a>
                          </div>
                          <div class="col-12 col-md-6 col-lg-4 isotope-item" data-filter="Business"><a class="thumbnail-classic" data-lightgallery="item" href="images/portfolio/portfolio-16-1170x600.jpg">
                                    <figure><img width="270" height="270" src="images/portfolio/portfolio-16-270x270.jpg" alt="">
                                    </figure></a>
                          </div>
                          <div class="col-12 col-md-6 col-lg-4 isotope-item" data-filter="Business"><a class="thumbnail-classic" data-lightgallery="item" href="images/portfolio/portfolio-18-1170x600.jpg">
                                    <figure><img width="270" height="270" src="images/portfolio/portfolio-18-270x270.jpg" alt="">
                                    </figure></a>
                          </div>
                          <div class="col-12 col-md-6 col-lg-4 isotope-item" data-filter="Clients"><a class="thumbnail-classic" data-lightgallery="item" href="images/portfolio/portfolio-06-570x420.jpg">
                                    <figure><img width="270" height="270" src="images/portfolio/portfolio-06-270x270.jpg" alt="">
                                    </figure></a>
                          </div>
                          <div class="col-12 col-md-6 col-lg-8 isotope-item" data-filter="Clients"><a class="thumbnail-classic" data-lightgallery="item" href="images/portfolio/portfolio-17-1170x600.jpg">
                                    <figure><img width="570" height="270" src="images/portfolio/portfolio-17-570x270.jpg" alt="">
                                    </figure></a>
                          </div>
                          <div class="col-12 col-md-6 col-lg-4 isotope-item" data-filter="Clients"><a class="thumbnail-classic" data-lightgallery="item" href="images/portfolio/portfolio-10-1170x600.jpg">
                                    <figure><img width="270" height="420" src="images/portfolio/portfolio-10-270x420.jpg" alt="">
                                    </figure></a>
                          </div>
                          <div class="col-12 col-md-6 col-lg-4 isotope-item" data-filter="Clients"><a class="thumbnail-classic" data-lightgallery="item" href="images/portfolio/portfolio-06-570x420.jpg">
                                    <figure><img width="270" height="270" src="images/portfolio/portfolio-06-270x270.jpg" alt="">
                                    </figure></a>
                          </div>
                          <div class="col-12 col-md-6 col-lg-4 isotope-item" data-filter="Clients"><a class="thumbnail-classic" data-lightgallery="item" href="images/portfolio/portfolio-20-1170x600.jpg">
                                    <figure><img width="270" height="270" src="images/portfolio/portfolio-20-270x270.jpg" alt="">
                                    </figure></a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
        </div>
      </section>