<section class="section novi-background section-98 section-sm-110">
        <div class="container-fluid">
          <div class="offset-top-50">
                  <div class="isotope-wrap">
                    <div class="row">
                      <!-- Isotope Filters-->
                      <div class="col-xl-12">
                        <div class="isotope-filters isotope-filters-horizontal">
                          <ul class="list-inline list-inline-sm">
                            <li class="list-inline-item d-lg-none">
                              <p>Choose your category:</p>
                            </li>
                            <li class="list-inline-item section-relative">
                              <button class="isotope-filters-toggle btn btn-sm btn-default" data-custom-toggle="isotope-1" data-custom-toggle-disable-on-blur="true">Filter<span class="caret"></span></button>
                              <ul class="list-sm-inline isotope-filters-list" id="isotope-1">
                                <li class="list-inline-item"><a class="font-weight-bold active" data-isotope-filter="*" data-isotope-group="gallery" href="#">All</a></li>
                                <li class="list-inline-item"><a class="font-weight-bold" data-isotope-filter="Clients" data-isotope-group="gallery" href="#">Clients</a></li>
                                <li class="list-inline-item"><a class="font-weight-bold" data-isotope-filter="Business" data-isotope-group="gallery" href="#">Business</a></li>
                                <li class="list-inline-item"><a class="font-weight-bold" data-isotope-filter="Marketing" data-isotope-group="gallery" href="#">Marketing</a></li>
                              </ul>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <!-- Isotope Content-->
                      <div class="col-xl-12 offset-top-34">
                        <div class="isotope" data-isotope-layout="fitRows" data-isotope-group="gallery">
                          <div class="row grid-group-sm" data-lightgallery="group">
                            <div class="col-12 col-md-6 col-lg-4 isotope-item" data-filter="Marketing">
                                    <!-- Thumbnail Josip-->
                                    <figure class="thumbnail-josip"><a data-lightgallery="item" href="images/portfolio/portfolio-02-1170x600.jpg"><img width="570" height="420" src="images/portfolio/portfolio-02-570x420.jpg" alt=""></a>
                                      <figcaption><a class="btn btn-xs btn-primary offset-top-10 pull-right" href="#">detail</a>
                                        <div class="offset-top-14 offset-md-top-0">
                                          <h6 class="thumbnail-josip-title">New Opportunities</h6>
                                        </div>
                                        <p class="veil reveal-md-block offset-top-0">UX, Design, Web developoment</p>
                                      </figcaption>
                                    </figure>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4 isotope-item" data-filter="Clients">
                                    <!-- Thumbnail Josip-->
                                    <figure class="thumbnail-josip"><a data-lightgallery="item" href="images/portfolio/portfolio-03-1170x600.jpg"><img width="570" height="420" src="images/portfolio/portfolio-03-570x420.jpg" alt=""></a>
                                      <figcaption><a class="btn btn-xs btn-primary offset-top-10 pull-right" href="#">detail</a>
                                        <div class="offset-top-14 offset-md-top-0">
                                          <h6 class="thumbnail-josip-title">Complex Solution</h6>
                                        </div>
                                        <p class="veil reveal-md-block offset-top-0">UX, Design, Web developoment</p>
                                      </figcaption>
                                    </figure>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4 isotope-item" data-filter="Marketing">
                                    <!-- Thumbnail Josip-->
                                    <figure class="thumbnail-josip"><a data-lightgallery="item" href="images/portfolio/portfolio-04-1170x600.jpg"><img width="570" height="420" src="images/portfolio/portfolio-04-570x420.jpg" alt=""></a>
                                      <figcaption><a class="btn btn-xs btn-primary offset-top-10 pull-right" href="#">detail</a>
                                        <div class="offset-top-14 offset-md-top-0">
                                          <h6 class="thumbnail-josip-title">Various Elements</h6>
                                        </div>
                                        <p class="veil reveal-md-block offset-top-0">UX, Design, Web developoment</p>
                                      </figcaption>
                                    </figure>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4 isotope-item" data-filter="Clients">
                                    <!-- Thumbnail Josip-->
                                    <figure class="thumbnail-josip"><a data-lightgallery="item" href="images/portfolio/portfolio-05-1170x600.jpg"><img width="570" height="420" src="images/portfolio/portfolio-05-570x420.jpg" alt=""></a>
                                      <figcaption><a class="btn btn-xs btn-primary offset-top-10 pull-right" href="#">detail</a>
                                        <div class="offset-top-14 offset-md-top-0">
                                          <h6 class="thumbnail-josip-title">Meaningful Design</h6>
                                        </div>
                                        <p class="veil reveal-md-block offset-top-0">UX, Design, Web developoment</p>
                                      </figcaption>
                                    </figure>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4 isotope-item" data-filter="Business">
                                    <!-- Thumbnail Josip-->
                                    <figure class="thumbnail-josip"><a data-lightgallery="item" href="images/portfolio/portfolio-10-1170x600.jpg"><img width="570" height="420" src="images/portfolio/portfolio-10-570x420.jpg" alt=""></a>
                                      <figcaption><a class="btn btn-xs btn-primary offset-top-10 pull-right" href="#">detail</a>
                                        <div class="offset-top-14 offset-md-top-0">
                                          <h6 class="thumbnail-josip-title">Made with love</h6>
                                        </div>
                                        <p class="veil reveal-md-block offset-top-0">UX, Design, Web developoment</p>
                                      </figcaption>
                                    </figure>
                            </div>
                            <div class="col-12 col-md-6 col-lg-4 isotope-item" data-filter="Business">
                                    <!-- Thumbnail Josip-->
                                    <figure class="thumbnail-josip"><a data-lightgallery="item" href="images/portfolio/portfolio-15-1170x600.jpg"><img width="570" height="420" src="images/portfolio/portfolio-15-570x420.jpg" alt=""></a>
                                      <figcaption><a class="btn btn-xs btn-primary offset-top-10 pull-right" href="#">detail</a>
                                        <div class="offset-top-14 offset-md-top-0">
                                          <h6 class="thumbnail-josip-title">Specially for you</h6>
                                        </div>
                                        <p class="veil reveal-md-block offset-top-0">UX, Design, Web developoment</p>
                                      </figcaption>
                                    </figure>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
          </div>
        </div>
      </section>