<section class="section novi-background section-98 section-sm-110">
        <div class="container">
          <h1>Get in Touch</h1>
          <hr class="divider bg-mantis">
          <div class="row justify-content-md-center offset-top-66">
            <div class="col-md-6"><img class="rounded-circle" src="images/users/user-eugene-newman-140x140.jpg" width="140" height="140" alt="">
              <p class="offs offset-top-30">Don’t hesitate to reach me out day and night. I answer all the emails within the time limit not longer than two working days. If your business is very urgent, feel free to contact me by Skype.</p>
              <h4 class="font-weight-bold text-picton-blue"><span class="p"><a href="mailto:#">mail@demolink.org</a></span></h4>
            </div>
          </div>
        </div>
      </section>