<header class="section page-head">
  <div class="rd-navbar-wrap">
    <nav class="rd-navbar rd-navbar-top-panel rd-navbar-dark" data-layout="rd-navbar-fixed" data-xs-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-static" data-lg-layout="rd-navbar-static" data-lg-stick-up-offset="79px">
      <div class="container">
        <div class="rd-navbar-inner">
          <div class="rd-navbar-top-panel">
            <div class="left-side">
              <ul class="rd-navbar-top-links list-unstyled">
                <li>
                  <a class="text-uppercase text-ubold" href="login.html">
                    <small>Log in</small>
                  </a>
                </li>
                <li>
                  <a class="text-uppercase text-ubold" href="register.html">
                    <small>Register</small>
                  </a>
                </li>
              </ul>
            </div>
            <div class="right-side">
              <address class="contact-info text-left">
                <span class="p">
                  <span class="novi-icon icon mdi mdi-email-open"></span>
                  <a href="mailto:#">info@demolink.org</a>
                </span>
                <span class="p">
                  <span class="novi-icon icon mdi mdi-phone"></span>
                  <a href="callto:#">1-800-1234-567</a>
                </span>
              </address>
            </div>
          </div>
          <div class="rd-navbar-panel">
            <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar, .rd-navbar-nav-wrap">
              <span></span>
            </button>
            <button class="rd-navbar-top-panel-toggle" data-rd-navbar-toggle=".rd-navbar, .rd-navbar-top-panel">
              <span></span>
            </button>
            <div class="rd-navbar-brand">
              <a href="index.html">
                <img style="margin-top: -5px;margin-left: -15px;" width="138" height="31" src="images/intense/logo-light.png" alt="">
              </a>
            </div>
          </div>
          <div class="rd-navbar-menu-wrap">
            <div class="rd-navbar-nav-wrap">
              <div class="rd-navbar-mobile-scroll">
                <div class="rd-navbar-mobile-brand">
                  <a href="index.html">
                    <img style="margin-top: -5px;margin-left: -15px;" width="138" height="31" src="images/intense/logo-light.png" alt="">
                  </a>
                </div>
                <ul class="rd-navbar-nav">
                  <li>
                    <a href="#">
                      <span>Link</span>
                    </a>
                  </li>
                  <li class="active">
                    <a href="#">
                      <span>Dropdown</span>
                    </a>
                    <ul class="rd-navbar-dropdown">
                      <li>
                        <a href="#">
                          <span class="text-middle">Dropdown</span>
                        </a>
                        <ul class="rd-navbar-dropdown">
                          <li>
                            <a href="#">
                              <span class="text-middle">Link</span>
                            </a>
                          </li>
                          <li>
                            <a href="#">
                              <span class="text-middle">Link</span>
                            </a>
                          </li>
                          <li>
                            <a href="#">
                              <span class="text-middle">Link</span>
                            </a>
                          </li>
                        </ul>
                      </li>
                      <li>
                        <a href="#">
                          <span class="text-middle">Link</span>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <span class="text-middle">Link</span>
                        </a>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <a href="#">
                      <span>Megamenu</span>
                    </a>
                    <div class="rd-navbar-megamenu">
                      <div class="row">
                        <ul class="col-md-3">
                          <li>
                            <a href="#">
                              <span class="novi-icon rd-navbar-icon mdi mdi-bullhorn"></span>
                              <span class="text-middle">404 Page</span>
                            </a>
                          </li>
                          <li>
                            <a href="#">
                              <span class="novi-icon rd-navbar-icon mdi mdi-bullhorn"></span>
                              <span class="text-middle">503 Page</span>
                            </a>
                          </li>
                          <li>
                            <a href="#">
                              <span class="novi-icon rd-navbar-icon mdi mdi-account-multiple"></span>
                              <span class="text-middle">About Us</span>
                            </a>
                          </li>
                          <li>
                            <a href="#">
                              <span class="novi-icon rd-navbar-icon mdi mdi-account-multiple"></span>
                              <span class="text-middle">About Us v2</span>
                            </a>
                          </li>
                          <li>
                            <a href="#">
                              <span class="novi-icon rd-navbar-icon mdi mdi-account-convert"></span>
                              <span class="text-middle">About Me</span>
                            </a>
                          </li>
                          <li>
                            <a href="#">
                              <span class="novi-icon rd-navbar-icon mdi mdi-account-convert"></span>
                              <span class="text-middle">About Me v2</span>
                            </a>
                          </li>
                          <li>
                            <a href="#">
                              <span class="novi-icon rd-navbar-icon mdi mdi-folder-outline"></span>
                              <span class="text-middle">Services</span>
                            </a>
                          </li>
                          <li>
                            <a href="#">
                              <span class="novi-icon rd-navbar-icon mdi mdi-account-switch"></span>
                              <span class="text-middle">Our Team</span>
                            </a>
                          </li>
                          <li>
                            <a href="#">
                              <span class="novi-icon rd-navbar-icon mdi mdi-account-switch"></span>
                              <span class="text-middle">Our Team v2</span>
                            </a>
                          </li>
                        </ul>
                        <ul class="col-md-3">
                          <li>
                            <a href="#">
                              <span class="novi-icon rd-navbar-icon mdi mdi-account-box-outline"></span>
                              <span class="text-middle">Team Member</span>
                            </a>
                          </li>
                          <li>
                            <a href="#">
                              <span class="novi-icon rd-navbar-icon mdi mdi-account-box-outline"></span>
                              <span class="text-middle">Team Member v2</span>
                            </a>
                          </li>
                          <li>
                            <a href="#">
                              <span class="novi-icon rd-navbar-icon mdi mdi-account-check"></span>
                              <span class="text-middle">Careers</span>
                            </a>
                          </li>
                          <li>
                            <a href="#">
                              <span class="novi-icon rd-navbar-icon mdi mdi-filter-variant"></span>
                              <span class="text-middle">Categories</span>
                            </a>
                          </li>
                          <li>
                            <a href="#">
                              <span class="novi-icon rd-navbar-icon mdi mdi-help-circle"></span>
                              <span class="text-middle">Faq</span>
                            </a>
                          </li>
                          <li>
                            <a href="#">
                              <span class="novi-icon rd-navbar-icon mdi mdi-help-circle"></span>
                              <span class="text-middle">Faq v2</span>
                            </a>
                          </li>
                          <li>
                            <a href="#">
                              <span class="novi-icon rd-navbar-icon mdi mdi-help-circle"></span>
                              <span class="text-middle">Faq v3</span>
                            </a>
                          </li>
                          <li>
                            <a href="#">
                              <span class="novi-icon rd-navbar-icon mdi mdi-help-circle"></span>
                              <span class="text-middle">Faq v4</span>
                            </a>
                          </li>
                          <li>
                            <a href="#">
                              <span class="novi-icon rd-navbar-icon mdi mdi-contact-mail"></span>
                              <span class="text-middle">Contact Me</span>
                            </a>
                          </li>
                        </ul>
                        <ul class="col-md-3">
                          <li>
                            <a href="#">
                              <span class="novi-icon rd-navbar-icon mdi mdi-map-marker-circle"></span>
                              <span class="text-middle">Contact Us</span>
                            </a>
                          </li>
                          <li>
                            <a href="#">
                              <span class="novi-icon rd-navbar-icon mdi mdi-map-marker-circle"></span>
                              <span class="text-middle">Contact Us v2</span>
                            </a>
                          </li>
                          <li>
                            <a href="#">
                              <span class="novi-icon rd-navbar-icon mdi mdi-map-marker-circle"></span>
                              <span class="text-middle">Get In Touch</span>
                            </a>
                          </li>
                          <li>
                            <a href="#">
                              <span class="novi-icon rd-navbar-icon mdi mdi-map-marker-circle"></span>
                              <span class="text-middle">Contact Us v3</span>
                            </a>
                          </li>
                          <li>
                            <a href="#">
                              <span class="novi-icon rd-navbar-icon mdi mdi-email-outline"></span>
                              <span class="text-middle">Subscribe</span>
                            </a>
                          </li>
                          <li>
                            <a href="#">
                              <span class="novi-icon rd-navbar-icon mdi mdi-sitemap"></span>
                              <span class="text-middle">Sitemap</span>
                            </a>
                          </li>
                          <li>
                            <a href="#">
                              <span class="novi-icon rd-navbar-icon mdi mdi-clock-fast"></span>
                              <span class="text-middle">Coming Soon</span>
                            </a>
                          </li>
                          <li>
                            <a href="#">
                              <span class="novi-icon rd-navbar-icon mdi mdi-magnify"></span>
                              <span class="text-middle">Search Results</span>
                            </a>
                          </li>
                          <li>
                            <a href="#">
                              <span class="novi-icon rd-navbar-icon mdi mdi-login"></span>
                              <span class="text-middle">Login</span>
                            </a>
                          </li>
                        </ul>
                        <ul class="col-md-3">
                          <li>
                            <a href="#">
                              <span class="novi-icon rd-navbar-icon mdi mdi-account-multiple-outline"></span>
                              <span class="text-middle">Register</span>
                            </a>
                          </li>
                          <li>
                            <a href="#">
                              <span class="novi-icon rd-navbar-icon mdi mdi-account-multiple-outline"></span>
                              <span class="text-middle">Login / Register</span>
                            </a>
                          </li>
                          <li>
                            <a href="#">
                              <span class="novi-icon rd-navbar-icon mdi mdi-certificate"></span>
                              <span class="text-middle">Pricing</span>
                            </a>
                          </li>
                          <li>
                            <a href="#">
                              <span class="novi-icon rd-navbar-icon mdi mdi-calendar-clock"></span>
                              <span class="text-middle">Appointment</span>
                            </a>
                          </li>
                          <li>
                            <a href="#">
                              <span class="novi-icon rd-navbar-icon mdi mdi-calendar-clock"></span>
                              <span class="text-middle">Appointment v2</span>
                            </a>
                          </li>
                          <li>
                            <a href="#">
                              <span class="novi-icon rd-navbar-icon mdi mdi-wrench"></span>
                              <span class="text-middle">Maintenance</span>
                            </a>
                          </li>
                          <li>
                            <a href="#">
                              <span class="novi-icon rd-navbar-icon mdi mdi-wrench"></span>
                              <span class="text-middle">Clients</span>
                            </a>
                          </li>
                          <li>
                            <a href="#">
                              <span class="novi-icon rd-navbar-icon mdi mdi-worker"></span>
                              <span class="text-middle">Under Construction</span>
                            </a>
                          </li>
                          <li>
                            <a href="#">
                              <span class="novi-icon rd-navbar-icon mdi mdi-file-outline"></span>
                              <span class="text-middle">Privacy Policy</span>
                            </a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </div>
</header>