<section class="section novi-background section-66">
        <div class="container">
          <h1>Icon Box v.3</h1>
          <hr class="divider bg-mantis">
          <div class="row text-lg-left offset-top-50 offset-xl-top-66">
            <div class="col-md-8 offset-md-2 col-lg-4 offset-lg-0">
              <!-- Icon Box Type 3-->
              <div class="unit align-items-center unit-spacing-xs unit-xs flex-sm-row text-center text-sm-left">
                <div class="unit-left"><span class="icon novi-icon text-middle icon-sm text-dollar-bill mdi mdi-monitor"></span></div>
                <div class="unit-body">
                  <h4 class="text-uppercase font-weight-bold">Responsive &amp; Retina</h4>
                </div>
              </div>
              <p class="offset-top-20 text-center text-sm-left">The information should be not only well - organized and easy to read, but it should be also presented in a visually pleasing manner, thus making the process of reading an enjoyable journey.</p>
            </div>
            <div class="col-md-8 offset-md-2 col-lg-4 offset-lg-0 offset-top-50 offset-lg-top-0">
              <!-- Icon Box Type 3-->
              <div class="unit align-items-center unit-spacing-xs unit-xs flex-sm-row text-center text-sm-left">
                <div class="unit-left"><span class="icon novi-icon text-middle icon-sm text-dollar-bill mdi mdi-rocket"></span></div>
                <div class="unit-body">
                  <h4 class="text-uppercase font-weight-bold">Optimized for speed</h4>
                </div>
              </div>
              <p class="offset-top-20 text-center text-sm-left">The information should be not only well - organized and easy to read, but it should be also presented in a visually pleasing manner, thus making the process of reading an enjoyable journey.</p>
            </div>
            <div class="col-md-8 offset-md-2 col-lg-4 offset-lg-0 offset-top-50 offset-lg-top-0">
              <!-- Icon Box Type 3-->
              <div class="unit align-items-center unit-spacing-xs unit-xs flex-sm-row text-center text-sm-left">
                <div class="unit-left"><span class="icon novi-icon text-middle icon-sm text-dollar-bill mdi mdi-xml"></span></div>
                <div class="unit-body">
                  <h4 class="text-uppercase font-weight-bold">Truly Multi-Purpose</h4>
                </div>
              </div>
              <p class="offset-top-20 text-center text-sm-left">The information should be not only well - organized and easy to read, but it should be also presented in a visually pleasing manner, thus making the process of reading an enjoyable journey.</p>
            </div>
          </div>
        </div>
      </section>