<section class="section novi-background section-66 section-md-bottom-124">
        <div class="container">
          <h1>Icon Box v.6</h1>
          <hr class="divider bg-mantis">
          <div class="row align-items-lg-center justify-content-center offset-top-34">
            <div class="col-md-8 col-lg-4 text-lg-right">
              <div class="unit unit-spacing-sm flex-column-reverse unit-md flex-lg-row">
                <div class="unit-body">
                  <h4 class="text-uppercase font-weight-bold offset-lg-top-20">Social Integration</h4>
                  <p>The information should be not only well-organized and easy to read. thus making the process enjoyable.</p>
                </div>
                <div class="unit-right"><span class="icon icon-circle novi-icon icon-lg icon-bordered icon-picton-blue mdi mdi-message-text-outline"></span></div>
              </div>
              <div class="unit unit-spacing-sm flex-column-reverse unit-md flex-lg-row offset-top-50 offset-lg-top-30">
                <div class="unit-body">
                  <h4 class="text-uppercase font-weight-bold offset-lg-top-20">All images Included</h4>
                  <p>The information should be not only well-organized and easy to read. thus making the process enjoyable.</p>
                </div>
                <div class="unit-right"><span class="icon icon-circle novi-icon icon-lg icon-bordered icon-picton-blue mdi mdi-image-filter"></span></div>
              </div>
              <div class="unit unit-spacing-sm flex-column-reverse unit-md flex-lg-row offset-top-50 offset-lg-top-30">
                <div class="unit-body">
                  <h4 class="text-uppercase font-weight-bold offset-lg-top-20">2000+ <br class="veil reveal-md-inline veil-lg"> icons</h4>
                  <p>The information should be not only well-organized and easy to read. thus making the process enjoyable.</p>
                </div>
                <div class="unit-right"><span class="icon icon-circle novi-icon icon-lg icon-bordered icon-picton-blue mdi mdi-emoticon-happy"></span></div>
              </div>
            </div>
            <div class="col-lg-4 offset-top-34 offset-lg-top-0"><img class="img-fluid d-block mx-auto" src="images/moqups/moqup-home-mobile.png" alt="" width="247" height="470"></div>
            <div class="col-md-8 col-lg-4 text-lg-left offset-top-50 offset-lg-top-0">
              <div class="unit unit-spacing-sm unit-md flex-lg-row">
                <div class="unit-left"><span class="icon icon-circle novi-icon icon-lg icon-bordered icon-picton-blue mdi mdi-cellphone-link"></span></div>
                <div class="unit-body">
                  <h4 class="text-uppercase font-weight-bold offset-lg-top-20">Responsive & Retina</h4>
                  <p>The information should be not only well-organized and easy to read. thus making the process enjoyable.</p>
                </div>
              </div>
              <div class="unit unit-spacing-sm unit-md flex-lg-row offset-top-50 offset-lg-top-30">
                <div class="unit-left"><span class="icon icon-circle novi-icon icon-lg icon-bordered icon-picton-blue mdi mdi-television-guide"></span></div>
                <div class="unit-body">
                  <h4 class="text-uppercase font-weight-bold offset-lg-top-20">Extensive docs</h4>
                  <p>The information should be not only well-organized and easy to read. thus making the process enjoyable.</p>
                </div>
              </div>
              <div class="unit unit-spacing-sm unit-md flex-lg-row offset-top-50 offset-lg-top-30">
                <div class="unit-left"><span class="icon icon-circle novi-icon icon-lg icon-bordered icon-picton-blue mdi mdi-play-box-outline"></span></div>
                <div class="unit-body">
                  <h4 class="text-uppercase font-weight-bold offset-lg-top-20">Video backgrounds</h4>
                  <p>The information should be not only well-organized and easy to read. thus making the process enjoyable.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>