<section class="section novi-background section-66">
        <div class="container">
          <h1>Icon Box v.5</h1>
          <hr class="divider bg-mantis">
          <div class="row offset-top-98">
            <div class="col-md-8 offset-md-2 col-lg-4 offset-lg-0">
              <!-- Icon Box Type 5-->
              <div class="box-icon box-icon-bordered"><span class="icon novi-icon icon-outlined icon-darker-filled mdi mdi-monitor"></span>
                <h4 class="text-uppercase font-weight-bold offset-top-20">Responsive &amp; Retina</h4>
                <p>The information should be not only well - organized and easy to read, but it should be also presented in a visually pleasing manner, thus making the process of reading an enjoyable journey.</p>
              </div>
            </div>
            <div class="col-md-8 offset-md-2 col-lg-4 offset-lg-0 offset-top-98 offset-lg-top-0">
              <!-- Icon Box Type 5-->
              <div class="box-icon box-icon-bordered"><span class="icon novi-icon icon-outlined icon-darker-filled mdi mdi-rocket"></span>
                <h4 class="text-uppercase font-weight-bold offset-top-20">Optimized for speed</h4>
                <p>The information should be not only well - organized and easy to read, but it should be also presented in a visually pleasing manner, thus making the process of reading an enjoyable journey.</p>
              </div>
            </div>
            <div class="col-md-8 offset-md-2 col-lg-4 offset-lg-0 offset-top-98 offset-lg-top-0">
              <!-- Icon Box Type 5-->
              <div class="box-icon box-icon-bordered"><span class="icon novi-icon icon-outlined icon-darker-filled mdi mdi-xml"></span>
                <h4 class="text-uppercase font-weight-bold offset-top-20">Truly Multi-Purpose</h4>
                <p>The information should be not only well - organized and easy to read, but it should be also presented in a visually pleasing manner, thus making the process of reading an enjoyable journey.</p>
              </div>
            </div>
          </div>
        </div>
      </section>