<section class="section novi-background section-66">
        <div class="container">
          <h1>Icon Box v.4</h1>
          <hr class="divider bg-mantis">
          <div class="row offset-top-50 offset-top-66">
            <div class="col-md-8 offset-md-2 col-lg-4 offset-lg-0">
              <!-- Icon Box Type 4--><span class="icon novi-icon icon-circle icon-bordered icon-mantis-filled icon-outlined mdi mdi-monitor"></span>
              <div>
                <h4 class="text-uppercase offset-top-30 font-weight-bold">Responsive & Retina</h4>
                <p>
                  The information should be not only well - organized and easy to read, but it should be also presented in a
                  visually pleasing manner, thus making the process of reading an enjoyable journey.
                  
                </p>
              </div>
            </div>
            <div class="col-md-8 offset-md-2 col-lg-4 offset-lg-0 offset-top-50 offset-lg-top-0">
              <!-- Icon Box Type 4--><span class="icon novi-icon icon-circle icon-bordered icon-mantis-filled icon-outlined mdi mdi-rocket"></span>
              <div>
                <h4 class="text-uppercase offset-top-30 font-weight-bold">Optimized for speed</h4>
                <p>
                  The information should be not only well - organized and easy to read, but it should be also presented in a
                  visually pleasing manner, thus making the process of reading an enjoyable journey.
                  
                </p>
              </div>
            </div>
            <div class="col-md-8 offset-md-2 col-lg-4 offset-lg-0 offset-top-50 offset-lg-top-0">
              <!-- Icon Box Type 4--><span class="icon novi-icon icon-circle icon-bordered icon-mantis-filled icon-outlined mdi mdi-xml"></span>
              <div>
                <h4 class="text-uppercase offset-top-30 font-weight-bold">Truly Multi-Purpose</h4>
                <p>
                  The information should be not only well - organized and easy to read, but it should be also presented in
                  a visually pleasing manner, thus making the process of reading an enjoyable journey.
                  
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>