<section class="section novi-background section-66 context-dark bg-acapulco">
              <div class="container">
                <div class="row justify-content-sm-center align-items-sm-center no-gutters grid-group-md">
                  <div class="col-lg-7 col-xxl-9 text-center text-lg-left">
                    <h2><span class="big">Intense is exactly what you need</span></h2>
                  </div>
                  <div class="col-lg-4 col-xl-3"><a class="btn btn-icon btn-lg btn-default btn-anis-effect btn-icon-btn-icon-left" href="//documentation.zemez.io/html/bootstrap/intense/"><span class="icon novi-icon mdi mdi-cart-outline"></span>Buy intense now</a>
                  </div>
                </div>
              </div>
            </section>