<section class="section novi-background section-124">
        <div class="container">
          <div class="row justify-content-sm-center">
            <div class="col-sm-8">
              <h1>Join Our Team</h1>
              <div>
                <hr class="divider bg-mantis">
              </div>
              <div class="offset-top-20">
                <p>Take a job opportunity of a lifetime – join the team of Intense. We cherish active tech savvies willing to work on projects of any type and complexity. If you are enthusiastic about tech innovations and ready to make impactful decisions, feel free to send us your CV. We are interested in hiring professionals for a long term and also provide an opportunity of remote work.</p>
              </div>
              <div class="offset-top-34"><a class="btn btn-primary btn-icon btn-icon-left" href="#" data-custom-scroll-to="careers-start"><span class="novi-icon icon mdi mdi-check-all"></span>Get Started now</a></div>
            </div>
          </div>
        </div>
      </section>