<section class="section parallax-container" data-parallax-img="images/backgrounds/background-04-1920x657.jpg">
              <div class="parallax-content section-66 context-dark bg-overlay-gray-darkest context-dark">
                <div class="container">
                  <h1>Join Our Team</h1>
                  <hr class="divider bg-default">
                  <div class="row justify-content-sm-center">
                    <div class="col-sm-10 col-sm-8">
                      <div>
                        <p>Take a job opportunity of a lifetime – join the team of Intense. We cherish active tech savvies willing to work on projects of any type and complexity. If you are enthusiastic about tech innovations and ready to make impactful decisions, feel free to send us your CV. We are interested in hiring professionals for a long term and also provide an opportunity of remote work.</p>
                      </div>
                      <div class="offset-top-30"><a class="btn btn-icon btn-icon-left btn-default" href="contact-us.html"><span class="novi-icon icon mdi-email-outline mdi"></span><span>Send us a letter</span></a></div>
                    </div>
                  </div>
                </div>
              </div>
            </section>