<section class="section">
        <div class="bg-vide" data-vide-bg="video/bg-video-2/bg-video-2-lg" data-vide-options="posterType: jpg">
          <div class="section-98 section-sm-110 bg-overlay-white">
            <div class="container">
              <div class="row justify-content-md-center">
                <div class="col-md-10">
                  <h1>Light Video Section</h1>
                  <hr class="divider bg-mantis">
                  <p>We're dedicated to giving you the best service possible by keeping our solutions friendly, simple and effective. If you don’t trust our word for it, just ask the people who have successfully launched their websites designed by us. Our core principle is absolute transparency in everything. Come any time to check how your project is doing – our specialists will inform you about the progress.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>