<section class="section novi-background section-66">
        <div class="container">
          <h1>Member Boxes Type 4</h1>
          <div class="row justify-content-sm-center">
            <div class="col-sm-8">
              <!-- Member block type 4-->
              <div class="unit unit-spacing-lg unit-sm flex-md-row">
                <div class="unit-left"><img class="rounded-circle" src="images/users/user-eugene-newman-140x140.jpg" width="140" height="140" alt=""/></div>
                <div class="unit-body text-md-left">
                  <div>
                    <h4><a href="#">Eugene Newman</a></h4>
                  </div>
                  <div class="offset-top-10">
                    <p class="text-picton-blue">Founder, Lead Developer</p>
                  </div>
                  <p class="offset-top-10">Intense is an independent web design studio with a rich history. It started as a small family - owned business in Oakville, and has grown enough to successfully occupy two large buildings in two different cities.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>