<section class="section novi-background section-66 section-lg-bottom-110">
        <div class="container">
          <h1>Member Boxes Type 5</h1>
          <div class="row justify-content-sm-center offset-top-66">
            <div class="col-lg-3">
              <!-- Member block type 3-->
              <div class="member-block-type-3 shadow-drop-lg">
                <div class="member-block-body"><img class="rounded-circle" src="images/users/user-july-mao-140x140.jpg" alt=""/>
                  <div class="offset-top-24">
                    <div>
                      <h6 class="text-ubold text-uppercase">July Mao</h6>
                    </div>
                    <p class="small offset-top-10 text-picton-blue">Support Operator</p>
                  </div>
                </div>
                <div class="btn-group btn-group-sm offset-top-34" role="group" aria-label="button"><a class="btn btn-default btn-icon btn-rect" href="#"><span class="icon novi-icon mdi mdi-facebook"></span></a><a class="btn btn-default btn-icon btn-rect" href="#"><span class="icon novi-icon mdi mdi-twitter"></span></a><a class="btn btn-default btn-icon btn-rect" href="#"><span class="icon novi-icon mdi mdi-google-plus"></span></a>
                </div>
                <div class="member-block-footer"><a class="btn btn-sm btn-default btn-block btn-rect" href="#">All Posts</a></div>
              </div>
            </div>
            <div class="col-lg-3">
              <!-- Member block type 3-->
              <div class="member-block-type-3 shadow-drop-lg">
                <div class="member-block-body"><img class="rounded-circle" src="images/users/user-ronald-oswald-140x140.jpg" alt=""/>
                  <div class="offset-top-24">
                    <div>
                      <h6 class="text-ubold text-uppercase">Ronald Oswald</h6>
                    </div>
                    <p class="small offset-top-10 text-picton-blue">Founder, Sales</p>
                  </div>
                </div>
                <div class="btn-group btn-group-sm offset-top-34" role="group" aria-label="button"><a class="btn btn-default btn-icon btn-rect" href="#"><span class="icon novi-icon mdi mdi-facebook"></span></a><a class="btn btn-default btn-icon btn-rect" href="#"><span class="icon novi-icon mdi mdi-twitter"></span></a><a class="btn btn-default btn-icon btn-rect" href="#"><span class="icon novi-icon mdi mdi-google-plus"></span></a>
                </div>
                <div class="member-block-footer"><a class="btn btn-sm btn-default btn-block btn-rect" href="#">All Posts</a></div>
              </div>
            </div>
            <div class="col-lg-3">
              <!-- Member block type 3-->
              <div class="member-block-type-3 shadow-drop-lg">
                <div class="member-block-body"><img class="rounded-circle" src="images/users/user-bernard-show-140x140.jpg" alt=""/>
                  <div class="offset-top-24">
                    <div>
                      <h6 class="text-ubold text-uppercase">Bernard Show</h6>
                    </div>
                    <p class="small offset-top-10 text-picton-blue">Creative Director</p>
                  </div>
                </div>
                <div class="btn-group btn-group-sm offset-top-34" role="group" aria-label="button"><a class="btn btn-default btn-icon btn-rect" href="#"><span class="icon novi-icon mdi mdi-facebook"></span></a><a class="btn btn-default btn-icon btn-rect" href="#"><span class="icon novi-icon mdi mdi-twitter"></span></a><a class="btn btn-default btn-icon btn-rect" href="#"><span class="icon novi-icon mdi mdi-google-plus"></span></a>
                </div>
                <div class="member-block-footer"><a class="btn btn-sm btn-default btn-block btn-rect" href="#">All Posts</a></div>
              </div>
            </div>
            <div class="col-lg-3">
              <!-- Member block type 3-->
              <div class="member-block-type-3 shadow-drop-lg">
                <div class="member-block-body"><img class="rounded-circle" src="images/users/user-john-doe-140x140.jpg" alt=""/>
                  <div class="offset-top-24">
                    <div>
                      <h6 class="text-ubold text-uppercase">John Doe</h6>
                    </div>
                    <p class="small offset-top-10 text-picton-blue">Software Developer</p>
                  </div>
                </div>
                <div class="btn-group btn-group-sm offset-top-34" role="group" aria-label="button"><a class="btn btn-default btn-icon btn-rect" href="#"><span class="icon novi-icon mdi mdi-facebook"></span></a><a class="btn btn-default btn-icon btn-rect" href="#"><span class="icon novi-icon mdi mdi-twitter"></span></a><a class="btn btn-default btn-icon btn-rect" href="#"><span class="icon novi-icon mdi mdi-google-plus"></span></a>
                </div>
                <div class="member-block-footer"><a class="btn btn-sm btn-default btn-block btn-rect" href="#">All Posts</a></div>
              </div>
            </div>
          </div>
        </div>
      </section>