<section class="section context-dark bg-primary">
          <div class="row no-gutters justify-content-sm-center">
            <div class="col-sm-10 col-md-9 col-lg-10 col-xl-12">
              <div class="owl-carousel owl-carousel-default veil-xl-owl-dots veil-owl-nav" data-items="1" data-sm-items="2" data-lg-items="3" data-xl-items="6" data-dots="true">
                <div>
                  <!-- Box Offer Type 1--><a href="#">
                    <ul class="list list-unstyled list-vertical-right-line bg-primary">
                      <li>
                        <div class="section-xl-34"><span class="icon icon-lg mdi mdi-food"></span>
                          <div class="h5">Infrastructure</div>
                          <hr class="divider divider-sm bg-default"/>
                        </div>
                      </li>
                    </ul></a>
                </div>
                <div>
                  <!-- Box Offer Type 1--><a href="#">
                    <ul class="list list-unstyled list-vertical-right-line bg-primary">
                      <li>
                        <div class="section-xl-34"><span class="icon icon-lg mdi mdi-file-image"></span>
                          <div class="h5">Portfolio</div>
                          <hr class="divider divider-sm bg-default"/>
                        </div>
                      </li>
                    </ul></a>
                </div>
                <div>
                  <!-- Box Offer Type 1--><a href="#">
                    <ul class="list list-unstyled list-vertical-right-line bg-primary">
                      <li>
                        <div class="section-xl-34"><span class="icon icon-lg mdi mdi-format-text"></span>
                          <div class="h5">Blog</div>
                          <hr class="divider divider-sm bg-default"/>
                        </div>
                      </li>
                    </ul></a>
                </div>
                <div>
                  <!-- Box Offer Type 1--><a href="#">
                    <ul class="list list-unstyled list-vertical-right-line bg-primary">
                      <li>
                        <div class="section-xl-34"><span class="icon icon-lg mdi mdi-account-multiple"></span>
                          <div class="h5">Agency</div>
                          <hr class="divider divider-sm bg-default"/>
                        </div>
                      </li>
                    </ul></a>
                </div>
                <div>
                  <!-- Box Offer Type 1--><a href="#">
                    <ul class="list list-unstyled list-vertical-right-line bg-primary">
                      <li>
                        <div class="section-xl-34"><span class="icon icon-lg mdi mdi-palette"></span>
                          <div class="h5">Creative</div>
                          <hr class="divider divider-sm bg-default"/>
                        </div>
                      </li>
                    </ul></a>
                </div>
                <div>
                  <!-- Box Offer Type 1--><a href="#">
                    <ul class="list list-unstyled list-vertical-right-line bg-primary">
                      <li>
                        <div class="section-xl-34"><span class="icon icon-lg mdi mdi-factory"></span>
                          <div class="h5">Industrial</div>
                          <hr class="divider divider-sm bg-default"/>
                        </div>
                      </li>
                    </ul></a>
                </div>
              </div>
            </div>
          </div>
        </section>