<section class="section context-dark">
          <div class="owl-carousel owl-carousel-default owl-carousel-arrows owl-carousel-arrows-fullwidth veil-xxl-owl-dots veil-owl-nav d-xxl-owl-nav" data-items="1" data-lg-items="2" data-xl-items="4" data-nav="true" data-dots="true" data-nav-class="[&quot;owl-prev mdi mdi-chevron-left&quot;, &quot;owl-next mdi mdi-chevron-right&quot;]">
            <div>
              <div class="row justify-content-sm-center">
                <div class="col-sm-8 col-md-6 col-lg-12">
                  <!-- Thumbnail Terry-->
                  <figure class="thumbnail-terry thumbnail-border-none"><a href="#"><img width="480" height="480" src="images/skins/skin-red-energy-infrastructure-480x480.jpg" alt=""/></a>
                    <figcaption>
                      <div>
                        <h4 class="thumbnail-terry-title">Infrastructure Themes</h4>
                      </div>
                      <p class="thumbnail-terry-desc offset-top-0"></p><a class="btn offset-top-10 offset-md-top-0 btn-danger" href="#">view all themes</a>
                    </figcaption>
                  </figure>
                </div>
              </div>
            </div>
            <div>
              <div class="row justify-content-sm-center">
                <div class="col-sm-8 col-md-6 col-lg-12">
                  <!-- Thumbnail Terry-->
                  <figure class="thumbnail-terry thumbnail-border-none"><a href="#"><img width="480" height="480" src="images/skins/skin-red-energy-blog-themes-480x480.jpg" alt=""/></a>
                    <figcaption>
                      <div>
                        <h4 class="thumbnail-terry-title">Blog Themes</h4>
                      </div>
                      <p class="thumbnail-terry-desc offset-top-0"></p><a class="btn offset-top-10 offset-md-top-0 btn-danger" href="#">view all themes</a>
                    </figcaption>
                  </figure>
                </div>
              </div>
            </div>
            <div>
              <div class="row justify-content-sm-center">
                <div class="col-sm-8 col-md-6 col-lg-12">
                  <!-- Thumbnail Terry-->
                  <figure class="thumbnail-terry thumbnail-border-none"><a href="#"><img width="480" height="480" src="images/skins/skin-red-energy-portfolio-themes-480x480.jpg" alt=""/></a>
                    <figcaption>
                      <div>
                        <h4 class="thumbnail-terry-title">Portfolio Themes</h4>
                      </div>
                      <p class="thumbnail-terry-desc offset-top-0"></p><a class="btn offset-top-10 offset-md-top-0 btn-danger" href="#">view all themes</a>
                    </figcaption>
                  </figure>
                </div>
              </div>
            </div>
            <div>
              <div class="row justify-content-sm-center">
                <div class="col-sm-8 col-md-6 col-lg-12">
                  <!-- Thumbnail Terry-->
                  <figure class="thumbnail-terry thumbnail-border-none"><a href="#"><img width="480" height="480" src="images/skins/skin-red-energy-business-themes-480x480.jpg" alt=""/></a>
                    <figcaption>
                      <div>
                        <h4 class="thumbnail-terry-title">Business Themes</h4>
                      </div>
                      <p class="thumbnail-terry-desc offset-top-0"></p><a class="btn offset-top-10 offset-md-top-0 btn-danger" href="#">view all themes</a>
                    </figcaption>
                  </figure>
                </div>
              </div>
            </div>
            <div>
              <div class="row justify-content-sm-center">
                <div class="col-sm-8 col-md-6 col-lg-12">
                  <!-- Thumbnail Terry-->
                  <figure class="thumbnail-terry thumbnail-border-none"><a href="#"><img width="480" height="480" src="images/skins/skin-red-energy-creative-themes-480x480.jpg" alt=""/></a>
                    <figcaption>
                      <div>
                        <h4 class="thumbnail-terry-title">Creative Themes</h4>
                      </div>
                      <p class="thumbnail-terry-desc offset-top-0"></p><a class="btn offset-top-10 offset-md-top-0 btn-danger" href="#">view all themes</a>
                    </figcaption>
                  </figure>
                </div>
              </div>
            </div>
            <div>
              <div class="row justify-content-sm-center">
                <div class="col-sm-8 col-md-6 col-lg-12">
                  <!-- Thumbnail Terry-->
                  <figure class="thumbnail-terry thumbnail-border-none"><a href="#"><img width="480" height="480" src="images/skins/skin-red-energy-infrastructure-480x480.jpg" alt=""/></a>
                    <figcaption>
                      <div>
                        <h4 class="thumbnail-terry-title">Infrastructure Themes</h4>
                      </div>
                      <p class="thumbnail-terry-desc offset-top-0"></p><a class="btn offset-top-10 offset-md-top-0 btn-danger" href="#">view all themes</a>
                    </figcaption>
                  </figure>
                </div>
              </div>
            </div>
          </div>
        </section>