<section class="section novi-background section-98 section-sm-110">
        <div class="container">
          <h1>Our Team</h1>
          <hr class="divider bg-mantis">
          <div class="row justify-content-sm-center text-center text-lg-left offset-top-66">
            <div class="col-md-5 col-lg-3"><img class="img-fluid d-inline-block" src="images/users/user-alex-merphy-270x270.jpg" width="270" height="270" alt="">
              <div class="text-lg-left offset-top-20">
                <div>
                  <h5 class="font-weight-bold text-primary"><a href="team-member.html">Alex Merphy</a></h5>
                </div>
              </div>
              <address class="contact-info text-lg-left">
                <ul class="list-unstyled p">
                  <li class="d-block"><span class="icon novi-icon icon-xxs mdi mdi-phone text-middle"></span> <a class="d-inline-block text-middle" href="tel:1-800-7650-986">1-800-7650-986</a>
                  </li>
                  <li class="d-block"><span class="icon novi-icon icon-xxs mdi mdi-email-open text-middle"></span> <a class="d-inline-block text-middle" href="mailto:alex@demolink.org">alex@demolink.org</a>
                  </li>
                </ul>
              </address>
            </div>
            <div class="col-md-5 col-lg-3 offset-top-50 offset-md-top-0"><img class="img-fluid d-inline-block" src="images/users/user-amanda-smith-270x270.jpg" width="270" height="270" alt="">
              <div class="text-lg-left offset-top-20">
                <div>
                  <h5 class="font-weight-bold text-primary"><a href="team-member.html">Amanda Smith</a></h5>
                </div>
              </div>
              <address class="contact-info text-lg-left">
                <ul class="list-unstyled p">
                  <li class="d-block"><span class="icon novi-icon icon-xxs mdi mdi-phone text-middle"></span> <a class="d-inline-block text-middle" href="tel:1-800-7650-986">1-800-7650-986</a>
                  </li>
                  <li class="d-block"><span class="icon novi-icon icon-xxs mdi mdi-email-open text-middle"></span> <a class="d-inline-block text-middle" href="mailto:amanda@demolink.org">amanda@demolink.org</a>
                  </li>
                </ul>
              </address>
            </div>
            <div class="col-md-5 col-lg-3 offset-top-50 offset-lg-top-0"><img class="img-fluid d-inline-block" src="images/users/user-bernard-show-270x270.jpg" width="270" height="270" alt="">
              <div class="text-lg-left offset-top-20">
                <div>
                  <h5 class="font-weight-bold text-primary"><a href="team-member.html">Bernard Show</a></h5>
                </div>
              </div>
              <address class="contact-info text-lg-left">
                <ul class="list-unstyled p">
                  <li class="d-block"><span class="icon novi-icon icon-xxs mdi mdi-phone text-middle"></span> <a class="d-inline-block text-middle" href="tel:1-800-7650-986">1-800-7650-986</a>
                  </li>
                  <li class="d-block"><span class="icon novi-icon icon-xxs mdi mdi-email-open text-middle"></span> <a class="d-inline-block text-middle" href="mailto:bernard@demolink.org">bernard@demolink.org</a>
                  </li>
                </ul>
              </address>
            </div>
            <div class="col-md-5 col-lg-3 offset-top-50 offset-lg-top-0"><img class="img-fluid d-inline-block" src="images/users/user-diana-russo-270x270.jpg" width="270" height="270" alt="">
              <div class="text-lg-left offset-top-20">
                <div>
                  <h5 class="font-weight-bold text-primary"><a href="team-member.html">Diana Russo</a></h5>
                </div>
              </div>
              <address class="contact-info text-lg-left">
                <ul class="list-unstyled p">
                  <li><span class="icon novi-icon icon-xxs mdi mdi-phone text-middle"></span> <a class="d-inline-block text-middle" href="tel:1-800-7650-986">1-800-7650-986</a>
                  </li>
                  <li><span class="icon novi-icon icon-xxs mdi mdi-email-open text-middle"></span> <a class="d-inline-block text-middle" href="mailto:diana@demolink.org">diana@demolink.org</a>
                  </li>
                </ul>
              </address>
            </div>
            <div class="col-md-5 col-lg-3 offset-top-50"><img class="img-fluid d-inline-block" src="images/users/user-eugene-newman-270x270.jpg" width="270" height="270" alt="">
              <div class="text-lg-left offset-top-20">
                <div>
                  <h5 class="font-weight-bold text-primary"><a href="team-member.html">Eugene Newman</a></h5>
                </div>
              </div>
              <address class="contact-info text-lg-left">
                <ul class="list-unstyled p">
                  <li class="d-block"><span class="icon novi-icon icon-xxs mdi mdi-phone text-middle"></span> <a class="d-inline-block text-middle" href="tel:1-800-7650-986">1-800-7650-986</a>
                  </li>
                  <li class="d-block"><span class="icon novi-icon icon-xxs mdi mdi-email-open text-middle"></span> <a class="d-inline-block text-middle" href="mailto:eugene@demolink.org">eugene@demolink.org</a>
                  </li>
                </ul>
              </address>
            </div>
            <div class="col-md-5 col-lg-3 offset-top-50"><img class="img-fluid d-inline-block" src="images/users/user-john-doe-270x270.jpg" width="270" height="270" alt="">
              <div class="text-lg-left offset-top-20">
                <div>
                  <h5 class="font-weight-bold text-primary"><a href="team-member.html">John Doe</a></h5>
                </div>
              </div>
              <address class="contact-info text-lg-left">
                <ul class="list-unstyled p">
                  <li class="d-block"><span class="icon novi-icon icon-xxs mdi mdi-phone text-middle"></span> <a class="d-inline-block text-middle" href="tel:1-800-7650-986">1-800-7650-986</a>
                  </li>
                  <li class="d-block"><span class="icon novi-icon icon-xxs mdi mdi-email-open text-middle"></span> <a class="d-inline-block text-middle" href="mailto:john@demolink.org">john@demolink.org</a>
                  </li>
                </ul>
              </address>
            </div>
            <div class="col-md-5 col-lg-3 offset-top-50"><img class="img-fluid d-inline-block" src="images/users/user-sam-cole.jpg" width="270" height="270" alt="">
              <div class="text-lg-left offset-top-20">
                <div>
                  <h5 class="font-weight-bold text-primary"><a href="team-member.html">Sam Cole</a></h5>
                </div>
              </div>
              <address class="contact-info text-lg-left">
                <ul class="list-unstyled p">
                  <li class="d-block"><span class="icon novi-icon icon-xxs mdi mdi-phone text-middle"></span> <a class="d-inline-block text-middle" href="tel:1-800-7650-986">1-800-7650-986</a>
                  </li>
                  <li class="d-block"><span class="icon novi-icon icon-xxs mdi mdi-email-open text-middle"></span> <a class="d-inline-block text-middle" href="mailto:sam@demolink.org">sam@demolink.org</a>
                  </li>
                </ul>
              </address>
            </div>
            <div class="col-md-5 col-lg-3 offset-top-50"><img class="img-fluid d-inline-block" src="images/users/user-july-mao-270x270.jpg" width="270" height="270" alt="">
              <div class="text-lg-left offset-top-20">
                <div>
                  <h5 class="font-weight-bold text-primary"><a href="team-member.html">July Mao</a></h5>
                </div>
              </div>
              <address class="contact-info text-lg-left">
                <ul class="list-unstyled p">
                  <li><span class="icon novi-icon icon-xxs mdi mdi-phone text-middle"></span> <a class="d-inline-block text-middle" href="tel:1-800-7650-986">1-800-7650-986</a>
                  </li>
                  <li><span class="icon novi-icon icon-xxs mdi mdi-email-open text-middle"></span> <a class="d-inline-block text-middle" href="mailto:july@demolink.org">july@demolink.org</a>
                  </li>
                </ul>
              </address>
            </div>
          </div>
        </div>
      </section>