<section class="section novi-background section-66">
        <div class="container">
          <h2>Outboxed Testimonials</h2>
          <hr class="divider divider-md bg-mantis">
          <div class="row justify-content-sm-center offset-top-66">
            <div class="col-md-8 col-lg-4">
              <blockquote class="quote quote-classic quote-outboxed">
                <div class="quote-body">
                  <p>
                    <q>Got really enjoyable experience with your product. Easy set up is a huge plus. I even didn’t turn to support service.</q>
                  </p>
                </div>
                <div class="quote-meta unit flex-row unit-spacing-sm align-items-center">
                  <div class="unit-left unit-item-narrow"><img class="rounded-circle quote-img" width="80" height="80" src="images/users/user-alex-merphy-80x80.jpg" alt=""/></div>
                  <div class="unit-body unit-item-wide">
                    <h6 class="quote-author text-uppercase">
                      <cite class="text-normal">Alex Merphy</cite>
                    </h6>
                    <p class="quote-desc text-uppercase text-picton-blue">Ceo/Founder at demolink.com</p>
                  </div>
                </div>
              </blockquote>
            </div>
            <div class="col-md-8 col-lg-4 offset-top-41 offset-lg-top-0">
              <blockquote class="quote quote-classic quote-outboxed">
                <div class="quote-body">
                  <p>
                    <q>I guess I’ll be a returning client. Your Live Chat service is awesome. It allows to settle any issue 24/7.</q>
                  </p>
                </div>
                <div class="quote-meta unit flex-row unit-spacing-sm align-items-center">
                  <div class="unit-left unit-item-narrow"><img class="rounded-circle quote-img" width="80" height="80" src="images/users/user-amanda-smith-80x80.jpg" alt=""/></div>
                  <div class="unit-body unit-item-wide">
                    <h6 class="quote-author text-uppercase">
                      <cite class="text-normal">Amanda Smith</cite>
                    </h6>
                    <p class="quote-desc text-uppercase text-picton-blue">Ceo/Founder at demolink.com</p>
                  </div>
                </div>
              </blockquote>
            </div>
            <div class="col-md-8 col-lg-4 offset-top-41 offset-lg-top-0">
              <blockquote class="quote quote-classic quote-outboxed">
                <div class="quote-body">
                  <p>
                    <q>A superb product for the price. Easy to read instructions are really helpful. Excellent, have nothing to add.</q>
                  </p>
                </div>
                <div class="quote-meta unit flex-row unit-spacing-sm align-items-center">
                  <div class="unit-left unit-item-narrow"><img class="rounded-circle quote-img" width="80" height="80" src="images/users/user-july-mao-80x80.jpg" alt=""/></div>
                  <div class="unit-body unit-item-wide">
                    <h6 class="quote-author text-uppercase">
                      <cite class="text-normal">July Mao</cite>
                    </h6>
                    <p class="quote-desc text-uppercase text-picton-blue">Ceo/Founder at demolink.com</p>
                  </div>
                </div>
              </blockquote>
            </div>
          </div>
        </div>
      </section>