<section class="section novi-background section-66">
        <div class="container container-wide">
          <h1>Plans Type 3</h1>
          <div class="divider bg-mantis"></div>
          <div class="row no-gutters justify-content-xl-center align-items-sm-end">
            <div class="col-sm-0 col-xl-2 text-right d-none d-xl-block">
              <div class="inset-right-30 section-lg-bottom-110">
                <h4 class="text-picton-blue font-weight-bold">Available <br> Options</h4>
                <ul class="list-separated list-unstyled">
                  <li>Space amount</li>
                  <li>Users Count</li>
                  <li>Bandwidth Amount</li>
                  <li>Support included</li>
                  <li>Database Count</li>
                </ul>
              </div>
            </div>
            <div class="col-lg-4 col-xl-3 col-xxl-2 offset-top-50 offset-xl-top-0">
              <!-- Planning Box type 3-->
              <div class="box-planning box-planning-type-3">
                <div class="box-planning-header bg-gray-darker context-dark">
                  <div class="box-planning-label">
                    <p class="big font-weight-bold">Most Popular</p>
                  </div>
                  <h3>Starter</h3>
                  <p class="h2 plan-price"><sup class="big">$</sup>59<sub class="text-white">/month</sub>
                  </p>
                </div>
                <div class="box-planning-body">
                  <ul class="list-separated list-unstyled">
                    <li><span class="font-weight-bold">5GB</span><span class="text-dark">Space amount</span></li>
                    <li><span class="font-weight-bold">20</span><span class="text-dark">users</span></li>
                    <li><span class="font-weight-bold">10GB</span><span class="text-dark">Bandwidth</span></li>
                    <li><span class="text-middle icon novi-icon icon-xxs mdi mdi-close icon-text-ku-crimson"></span></li>
                    <li><span class="font-weight-bold">1</span><span class="text-dark">Databases</span></li>
                  </ul><a class="btn btn-block btn-default btn-rect" href="register.html">Sign up</a>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-xl-3 col-xxl-2 offset-top-50 offset-xl-top-0">
              <!-- Planning Box type 3-->
              <div class="box-planning box-planning-type-3 active">
                <div class="box-planning-header bg-malibu context-dark">
                  <div class="box-planning-label">
                    <p class="big font-weight-bold">Most Popular</p>
                  </div>
                  <h3>Business</h3>
                  <p class="h2 plan-price"><sup class="big">$</sup>59<sub class="text-white">/month</sub>
                  </p>
                </div>
                <div class="box-planning-body">
                  <ul class="list-separated list-unstyled">
                    <li><span class="font-weight-bold">10GB</span><span class="text-dark">Space amount</span></li>
                    <li><span class="font-weight-bold">Unlimited</span><span class="text-dark">users</span></li>
                    <li><span class="font-weight-bold">30GB</span><span class="text-dark">Bandwidth</span></li>
                    <li><span class="text-middle icon novi-icon icon-xxs mdi mdi-check text-dollar-bill"></span></li>
                    <li><span class="font-weight-bold">20</span><span class="text-dark">Databases</span></li>
                  </ul><a class="btn btn-block btn-default btn-rect" href="register.html">Sign up</a>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-xl-3 col-xxl-2 offset-top-50 offset-xl-top-0">
              <!-- Planning Box type 3-->
              <div class="box-planning box-planning-type-3">
                <div class="box-planning-header bg-gray-darker context-dark">
                  <div class="box-planning-label">
                    <p class="big font-weight-bold">Most Popular</p>
                  </div>
                  <h3>Business</h3>
                  <p class="h2 plan-price"><sup class="big">$</sup>59<sub class="text-white">/month</sub>
                  </p>
                </div>
                <div class="box-planning-body">
                  <ul class="list-separated list-unstyled">
                    <li><span class="font-weight-bold">10GB</span><span class="text-dark">Space amount</span></li>
                    <li><span class="font-weight-bold">Unlimited</span><span class="text-dark">users</span></li>
                    <li><span class="font-weight-bold">60GB</span><span class="text-dark">Bandwidth</span></li>
                    <li><span class="text-middle icon novi-icon icon-xxs mdi mdi-check text-dollar-bill"></span></li>
                    <li><span class="font-weight-bold">Unlimited</span><span class="text-dark">Databases</span></li>
                  </ul><a class="btn btn-block btn-default btn-rect" href="register.html">Sign up</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>