<section class="section novi-background section-66 section-md-top-110">
        <div class="container-wide">
          <h1>Plans Type 1</h1>
          <div class="divider bg-mantis"></div>
          <div class="row no-gutters justify-content-lg-center">
            <div class="col-sm-8 offset-sm-2 col-lg-3 offset-lg-0 col-xxl-2">
              <!-- Planning Box type 1-->
              <div class="box-planning box-planning-type-1">
                <div class="box-planning-label">
                  <svg class="box-planning-svg" x="0px" y="0px" viewbox="0 0 76.5 76.5" enable-background="new 0 0 76.5 76.5" xml:space="preserve">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M11.4-11.4l76.5,76.5L76.4,76.5L0,0.1L11.4-11.4z"></path>
                  </svg><span>Popular</span>
                </div>
                <h2>Personal</h2>
                <p class="h1">$19</p>
                <p class="small text-uppercase">per month</p>
                <hr class="hr-gradient"/>
                <ul class="list list-unstyled">
                  <li><span class="font-weight-bold">1</span><span class="text-dark">Hosting</span></li>
                  <li><span class="font-weight-bold">0</span><span class="text-dark">E-Mail Marketing</span></li>
                  <li><span class="font-weight-bold">1</span><span class="text-dark">Databases</span></li>
                  <li><span class="font-weight-bold">0</span><span class="text-dark">Design packs</span></li>
                  <li><span class="font-weight-bold">1</span><span class="text-dark">Website layouts</span></li>
                </ul><a class="btn btn-block btn-default" href="register.html">Sign up</a>
              </div>
            </div>
            <div class="col-sm-8 offset-sm-2 col-lg-3 offset-lg-0 col-xxl-2 offset-top-50 offset-lg-top-0">
              <!-- Planning Box type 1-->
              <div class="box-planning box-planning-type-1 active">
                <div class="box-planning-label">
                  <svg class="box-planning-svg" x="0px" y="0px" viewbox="0 0 76.5 76.5" enable-background="new 0 0 76.5 76.5" xml:space="preserve">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M11.4-11.4l76.5,76.5L76.4,76.5L0,0.1L11.4-11.4z"></path>
                  </svg><span>Popular</span>
                </div>
                <h2>Team</h2>
                <p class="h1">$59</p>
                <p class="small text-uppercase">per month</p>
                <hr class="hr-gradient"/>
                <ul class="list list-unstyled">
                  <li><span class="font-weight-bold">1</span><span class="text-dark">Hosting</span></li>
                  <li><span class="font-weight-bold">2</span><span class="text-dark">E-Mail Marketing</span></li>
                  <li><span class="font-weight-bold">5</span><span class="text-dark">Databases</span></li>
                  <li><span class="font-weight-bold">2</span><span class="text-dark">Design packs</span></li>
                  <li><span class="font-weight-bold">3</span><span class="text-dark">Website layouts</span></li>
                </ul><a class="btn btn-block btn-primary" href="register.html">Sign up</a>
              </div>
            </div>
            <div class="col-sm-8 offset-sm-2 col-lg-3 offset-lg-0 col-xxl-2 offset-top-50 offset-lg-top-0">
              <!-- Planning Box type 1-->
              <div class="box-planning box-planning-type-1">
                <div class="box-planning-label">
                  <svg class="box-planning-svg" x="0px" y="0px" viewbox="0 0 76.5 76.5" enable-background="new 0 0 76.5 76.5" xml:space="preserve">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M11.4-11.4l76.5,76.5L76.4,76.5L0,0.1L11.4-11.4z"></path>
                  </svg><span>Popular</span>
                </div>
                <h2>Studio</h2>
                <p class="h1">$89</p>
                <p class="small text-uppercase">per month</p>
                <hr class="hr-gradient"/>
                <ul class="list list-unstyled">
                  <li><span class="font-weight-bold">1</span><span class="text-dark">Hosting</span></li>
                  <li><span class="font-weight-bold">0</span><span class="text-dark">E-Mail Marketing</span></li>
                  <li><span class="font-weight-bold">1</span><span class="text-dark">Databases</span></li>
                  <li><span class="font-weight-bold">0</span><span class="text-dark">Design packs</span></li>
                  <li><span class="font-weight-bold">1</span><span class="text-dark">Website layouts</span></li>
                </ul><a class="btn btn-block btn-default" href="register.html">Sign up</a>
              </div>
            </div>
            <div class="col-sm-8 offset-sm-2 col-lg-3 offset-lg-0 col-xxl-2 offset-top-50 offset-lg-top-0">
              <!-- Planning Box type 1-->
              <div class="box-planning box-planning-type-1">
                <div class="box-planning-label">
                  <svg class="box-planning-svg" x="0px" y="0px" viewbox="0 0 76.5 76.5" enable-background="new 0 0 76.5 76.5" xml:space="preserve">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M11.4-11.4l76.5,76.5L76.4,76.5L0,0.1L11.4-11.4z"></path>
                  </svg><span>Popular</span>
                </div>
                <h2>Business</h2>
                <p class="h1">$129</p>
                <p class="small text-uppercase">per month</p>
                <hr class="hr-gradient"/>
                <ul class="list list-unstyled">
                  <li><span class="font-weight-bold">1</span><span class="text-dark">Hosting</span></li>
                  <li><span class="font-weight-bold">0</span><span class="text-dark">E-Mail Marketing</span></li>
                  <li><span class="font-weight-bold">1</span><span class="text-dark">Databases</span></li>
                  <li><span class="font-weight-bold">0</span><span class="text-dark">Design packs</span></li>
                  <li><span class="font-weight-bold">1</span><span class="text-dark">Website layouts</span></li>
                </ul><a class="btn btn-block btn-default" href="register.html">Sign up</a>
              </div>
            </div>
          </div>
        </div>
        <!-- Section Plans Type 2-->
      </section>