<section class="section novi-background section-66">
        <div class="container">
          <h1>Plans Type 4</h1>
          <div class="divider bg-mantis"></div>
          <div class="row align-items-sm-end justify-content-md-center">
            <div class="col-lg-3">
              <!-- Planning Box type 4-->
              <div class="box-planning box-planning-type-4">
                <div class="box-planning-header bg-mantis context-dark">
                  <div class="box-planning-label">
                    <p class="big font-weight-bold">Most Popular</p>
                  </div>
                  <h3>Free</h3>
                  <p class="h2 plan-price"><sup class="big">$</sup>59<sub class="text-white">/month</sub>
                  </p>
                </div>
                <div class="box-planning-body">
                  <ul class="list-separated list-unstyled">
                    <li><span class="font-weight-bold">1GB</span><span class="text-dark">Space amount</span></li>
                    <li><span class="font-weight-bold">5</span><span class="text-dark">users</span></li>
                    <li><span class="font-weight-bold">5GB</span><span class="text-dark">Bandwidth</span></li>
                    <li><span class="text-dark">No Support</span></li>
                    <li><span class="font-weight-bold">1</span><span class="text-dark">Databases</span></li>
                  </ul><a class="btn btn-block btn-default btn-rect" href="register.html">Sign up</a>
                </div>
              </div>
            </div>
            <div class="col-lg-3 offset-top-50 offset-lg-top-0">
              <!-- Planning Box type 4-->
              <div class="box-planning box-planning-type-4">
                <div class="box-planning-header bg-malibu context-dark">
                  <div class="box-planning-label">
                    <p class="big font-weight-bold">Most Popular</p>
                  </div>
                  <h3>Starter</h3>
                  <p class="h2 plan-price"><sup class="big">$</sup>59<sub class="text-white">/month</sub>
                  </p>
                </div>
                <div class="box-planning-body">
                  <ul class="list-separated list-unstyled">
                    <li><span class="font-weight-bold">5GB</span><span class="text-dark">Space amount</span></li>
                    <li><span class="font-weight-bold">20</span><span class="text-dark">users</span></li>
                    <li><span class="font-weight-bold">10GB</span><span class="text-dark">Bandwidth</span></li>
                    <li><span class="text-dark">No Support</span></li>
                    <li><span class="font-weight-bold">1</span><span class="text-dark">Databases</span></li>
                  </ul><a class="btn btn-block btn-default btn-rect" href="register.html">Sign up</a>
                </div>
              </div>
            </div>
            <div class="col-lg-3 offset-top-50 offset-lg-top-0">
              <!-- Planning Box type 4-->
              <div class="box-planning box-planning-type-4 active">
                <div class="box-planning-header bg-saffron context-dark">
                  <div class="box-planning-label">
                    <p class="big font-weight-bold">Most Popular</p>
                  </div>
                  <h3>Business</h3>
                  <p class="h2 plan-price"><sup class="big">$</sup>59<sub class="text-white">/month</sub>
                  </p>
                </div>
                <div class="box-planning-body">
                  <ul class="list-separated list-unstyled">
                    <li><span class="font-weight-bold">10GB</span><span class="text-dark">Space amount</span></li>
                    <li><span class="font-weight-bold">Unlimited</span><span class="text-dark">users</span></li>
                    <li><span class="font-weight-bold">30GB</span><span class="text-dark">Bandwidth</span></li>
                    <li><span class="text-dark">Free Support</span></li>
                    <li><span class="font-weight-bold">20</span><span class="text-dark">Databases</span></li>
                  </ul><a class="btn btn-block btn-default btn-rect" href="register.html">Sign up</a>
                </div>
              </div>
            </div>
            <div class="col-lg-3 offset-top-50 offset-lg-top-0">
              <!-- Planning Box type 4-->
              <div class="box-planning box-planning-type-4">
                <div class="box-planning-header bg-red context-dark">
                  <div class="box-planning-label">
                    <p class="big font-weight-bold">Most Popular</p>
                  </div>
                  <h3>Ultimate</h3>
                  <p class="h2 plan-price"><sup class="big">$</sup>59<sub class="text-white">/month</sub>
                  </p>
                </div>
                <div class="box-planning-body">
                  <ul class="list-separated list-unstyled">
                    <li><span class="font-weight-bold">100GB</span><span class="text-dark">Space amount</span></li>
                    <li><span class="font-weight-bold">Unlimited</span><span class="text-dark">users</span></li>
                    <li><span class="font-weight-bold">60GB</span><span class="text-dark">Bandwidth</span></li>
                    <li><span class="text-dark">Free support</span></li>
                    <li><span class="font-weight-bold">Unlimited</span><span class="text-dark">Databases</span></li>
                  </ul><a class="btn btn-block btn-default btn-rect" href="register.html">Sign up</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>