<section class="section novi-background section-66">
        <div class="container-wide">
          <h1>Plans Type 2</h1>
          <div class="divider bg-mantis"></div>
          <div class="row no-gutters justify-content-lg-center">
            <div class="col-sm-8 offset-sm-2 col-lg-4 offset-lg-0 col-xl-3 col-xxl-2">
              <!-- Planning Box type 2-->
              <div class="box-planning box-planning-type-2">
                <div class="box-planning-label">
                  <svg class="box-planning-svg" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewbox="0 0 76.5 76.5" enable-background="new 0 0 76.5 76.5" xml:space="preserve">
                    <path class="bg-deluge" d="M75.1,48.3L68,50.6l3.4,6.6L64,57.6l1.7,7.3l-7.3-1.4l-0.2,7.5l-6.7-3.2l-2,7.2l-5.7-4.8l-3.8,6.4l-4.3-6.1l-5.2,5.3            l-2.7-7l-6.4,3.8l-0.9-7.4l-7.1,2.1l1-7.4l-7.5,0.3l2.8-6.9l-7.3-1.6l4.4-6L0,42.4l5.8-4.7l-5.6-4.9l6.8-3.1l-4.2-6.1l7.3-1.3            l-2.6-7l7.4,0.5l-0.8-7.4l7.1,2.4l1.1-7.4l6.3,4l2.9-6.9l5.1,5.5L41.1,0l3.6,6.6l5.9-4.6l1.8,7.2l6.8-3l0,7.5l7.4-1.2l-1.9,7.2            l7.4,0.6l-3.6,6.5l7,2.5l-5.1,5.4l6.2,4.1l-6.3,4L75.1,48.3z"></path>
                  </svg><span class="font-weight-bold">Most <br> Popular</span>
                </div>
                <h2>Starter</h2>
                <p class="h1 plan-price"><sup class="big">$</sup>19<sup class="text-dark"> /month</sup>
                </p>
                <hr class="divider"/>
                <p class="text-light"><small>The plan is mainly intended for startups and small businesses.</small></p>
                <ul class="list-separated list-unstyled">
                  <li><span class="font-weight-bold">5GB</span><span class="text-dark">Space amount</span></li>
                  <li><span class="font-weight-bold">20</span><span class="text-dark">Users</span></li>
                  <li><span class="font-weight-bold">10GB</span><span class="text-dark">Bandwidth</span></li>
                  <li><span class="text-dark">No support</span></li>
                  <li><span class="font-weight-bold">1</span><span class="text-dark">Database</span></li>
                </ul><a class="btn btn-block btn-rect btn-deluge" href="//documentation.zemez.io/html/bootstrap/intense/">Sign up</a>
              </div>
            </div>
            <div class="col-sm-8 offset-sm-2 col-lg-4 offset-lg-0 col-xl-3 col-xxl-2 offset-top-50 offset-lg-top-0">
              <!-- Planning Box type 2-->
              <div class="box-planning box-planning-type-2 active">
                <div class="box-planning-label">
                  <svg class="box-planning-svg" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewbox="0 0 76.5 76.5" enable-background="new 0 0 76.5 76.5" xml:space="preserve">
                    <path class="bg-deluge" d="M75.1,48.3L68,50.6l3.4,6.6L64,57.6l1.7,7.3l-7.3-1.4l-0.2,7.5l-6.7-3.2l-2,7.2l-5.7-4.8l-3.8,6.4l-4.3-6.1l-5.2,5.3            l-2.7-7l-6.4,3.8l-0.9-7.4l-7.1,2.1l1-7.4l-7.5,0.3l2.8-6.9l-7.3-1.6l4.4-6L0,42.4l5.8-4.7l-5.6-4.9l6.8-3.1l-4.2-6.1l7.3-1.3            l-2.6-7l7.4,0.5l-0.8-7.4l7.1,2.4l1.1-7.4l6.3,4l2.9-6.9l5.1,5.5L41.1,0l3.6,6.6l5.9-4.6l1.8,7.2l6.8-3l0,7.5l7.4-1.2l-1.9,7.2            l7.4,0.6l-3.6,6.5l7,2.5l-5.1,5.4l6.2,4.1l-6.3,4L75.1,48.3z"></path>
                  </svg><span class="font-weight-bold">Most <br> Popular</span>
                </div>
                <h2>Business</h2>
                <p class="h1 plan-price text-deluge"><sup class="big">$</sup>59<sup class="text-dark"> /month</sup>
                </p>
                <hr class="divider bg-deluge"/>
                <p class="text-light"><small>Perfect for Medium-to-large sized businesses.</small></p>
                <ul class="list-separated list-unstyled">
                  <li><span class="font-weight-bold">10GB</span><span class="text-dark">Space amount</span></li>
                  <li><span class="font-weight-bold">Unlimited</span><span class="text-dark"> users</span></li>
                  <li><span class="font-weight-bold">30GB</span><span class="text-dark">Bandwidth</span></li>
                  <li><span class="text-dark">Free support</span></li>
                  <li><span class="font-weight-bold">20</span><span class="text-dark">Databases</span></li>
                </ul><a class="btn btn-block btn-rect btn-deluge" href="//documentation.zemez.io/html/bootstrap/intense/">Sign up</a>
              </div>
            </div>
            <div class="col-sm-8 offset-sm-2 col-lg-4 offset-lg-0 col-xl-3 col-xxl-2 offset-top-50 offset-lg-top-0">
              <!-- Planning Box type 2-->
              <div class="box-planning box-planning-type-2">
                <div class="box-planning-label">
                  <svg class="box-planning-svg" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewbox="0 0 76.5 76.5" enable-background="new 0 0 76.5 76.5" xml:space="preserve">
                    <path class="bg-deluge" d="M75.1,48.3L68,50.6l3.4,6.6L64,57.6l1.7,7.3l-7.3-1.4l-0.2,7.5l-6.7-3.2l-2,7.2l-5.7-4.8l-3.8,6.4l-4.3-6.1l-5.2,5.3            l-2.7-7l-6.4,3.8l-0.9-7.4l-7.1,2.1l1-7.4l-7.5,0.3l2.8-6.9l-7.3-1.6l4.4-6L0,42.4l5.8-4.7l-5.6-4.9l6.8-3.1l-4.2-6.1l7.3-1.3            l-2.6-7l7.4,0.5l-0.8-7.4l7.1,2.4l1.1-7.4l6.3,4l2.9-6.9l5.1,5.5L41.1,0l3.6,6.6l5.9-4.6l1.8,7.2l6.8-3l0,7.5l7.4-1.2l-1.9,7.2            l7.4,0.6l-3.6,6.5l7,2.5l-5.1,5.4l6.2,4.1l-6.3,4L75.1,48.3z"></path>
                  </svg><span class="font-weight-bold">Most <br> Popular</span>
                </div>
                <h2>Ultimate</h2>
                <p class="h1 plan-price"><sup class="big">$</sup>99<sup class="text-dark"> /month</sup>
                </p>
                <hr class="divider"/>
                <p class="text-light"><small>The plan is best suited for large corporate websites.</small></p>
                <ul class="list-separated list-unstyled">
                  <li><span class="font-weight-bold">100GB</span><span class="text-dark">Space amount</span></li>
                  <li><span class="font-weight-bold">Unlimited</span><span class="text-dark"> users</span></li>
                  <li><span class="font-weight-bold">60GB</span><span class="text-dark">Bandwidth</span></li>
                  <li><span class="text-dark">Free support</span></li>
                  <li><span class="font-weight-bold">Unlimited</span><span class="text-dark">Databases</span></li>
                </ul><a class="btn btn-block btn-rect btn-deluge" href="//documentation.zemez.io/html/bootstrap/intense/">Sign up</a>
              </div>
            </div>
          </div>
        </div>
        <!-- Section Plans Type 3-->
      </section>