<section class="section novi-background section-66 section-md-bottom-124">
        <div class="container">
          <h1>Pricing Type 1</h1>
          <div class="divider bg-mantis"></div>
          <div class="row justify-content-sm-center align-items-sm-end offset-top-66">
            <div class="col-lg-6 text-left">
              <!-- Pricing Box type 1-->
              <ul class="box-pricing box-pricing-type-1 list-unstyled">
                <li class="box-pricing-item">
                  <div class="box-pricing-title text-uppercase text-spacing-120">
                    <div class="box-pricing-name font-weight-bold">OLD TIMER'S BREAKFAST</div>
                    <div class="box-pricing-dots"></div>
                    <div class="box-pricing-price h5 font-weight-bold">$22.00</div>
                  </div>
                  <div class="box-pricing-desc text-dark offset-top-10">( ( Two eggs cooked to order with grits, sawmill gravy, homemade buttermilk biscuits &amp; real butter ) )
                  </div>
                </li>
                <li class="box-pricing-item">
                  <div class="box-pricing-title text-uppercase text-spacing-120">
                    <div class="box-pricing-name font-weight-bold">FRESH START SAMPLER</div>
                    <div class="box-pricing-dots"></div>
                    <div class="box-pricing-price h5 font-weight-bold">$37.00</div>
                  </div>
                  <div class="box-pricing-desc text-dark offset-top-10">( ( Start your day with a mix of low fat vanilla yogurt, fresh seasonal fruit topped with our honey mix ) )
                  </div>
                </li>
                <li class="box-pricing-item">
                  <div class="box-pricing-title text-uppercase text-spacing-120">
                    <div class="box-pricing-name font-weight-bold">DOUBLE MEAT BREAKFAST</div>
                    <div class="box-pricing-dots"></div>
                    <div class="box-pricing-price h5 font-weight-bold">$42.00</div>
                  </div>
                  <div class="box-pricing-desc text-dark offset-top-10">( ( Three eggs cooked to order with a full order of bacon and sausage patties ) )
                  </div>
                </li>
                <li class="box-pricing-item">
                  <div class="box-pricing-title text-uppercase text-spacing-120">
                    <div class="box-pricing-name font-weight-bold">CRAB &amp; AVOCADO BRUSCHETTA</div>
                    <div class="box-pricing-dots"></div>
                    <div class="box-pricing-price h5 font-weight-bold">$19.00</div>
                  </div>
                  <div class="box-pricing-desc text-dark offset-top-10">( ( Fresh white&amp;brown crab, crunchy fennel, smashed avocado, yoghurt &amp; chilli ) )
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>