<section class="section novi-background section-top-98 section-bottom-124">
        <div class="container">
          <h1>Related Projects</h1>
          <hr class="divider bg-mantis">
          <div class="row offset-top-66 justify-content-sm-center text-left">
            <div class="col-sm-10 col-md-6 col-lg-3"><a class="thumbnail-classic" href="#" target="_self">
                      <figure><img width="370" height="278" src="images/portfolio/portfolio-single-related-01-370x278.jpg" alt="">
                      </figure></a>
              <div>
                <h6 class="offset-top-24"><a href="#">New Vision</a></h6>
              </div>
              <p class="text-dark offset-top-4 text-extra-small">UX, Design</p>
            </div>
            <div class="col-sm-10 col-md-6 col-lg-3 offset-top-50 offset-md-top-0"><a class="thumbnail-classic" href="#" target="_self">
                      <figure><img width="370" height="278" src="images/portfolio/portfolio-single-related-02-370x278.jpg" alt="">
                      </figure></a>
              <div>
                <h6 class="offset-top-24"><a href="#">Complex Solutions</a></h6>
              </div>
              <p class="text-dark offset-top-4 text-extra-small">Web, Development</p>
            </div>
            <div class="col-sm-10 col-md-6 col-lg-3 offset-top-50 offset-lg-top-0"><a class="thumbnail-classic" href="#" target="_self">
                      <figure><img width="370" height="278" src="images/portfolio/portfolio-single-related-03-370x278.jpg" alt="">
                      </figure></a>
              <div>
                <h6 class="offset-top-24"><a href="#">Unlimited Opportunities</a></h6>
              </div>
              <p class="text-dark offset-top-4 text-extra-small">UX, eCommerce</p>
            </div>
            <div class="col-sm-10 col-md-6 col-lg-3 offset-top-50 offset-lg-top-0"><a class="thumbnail-classic" href="#" target="_self">
                      <figure><img width="370" height="278" src="images/portfolio/portfolio-single-related-04-370x278.jpg" alt="">
                      </figure></a>
              <div>
                <h6 class="offset-top-24"><a href="#">Better Possibilities</a></h6>
              </div>
              <p class="text-dark offset-top-4 text-extra-small">Project Management</p>
            </div>
          </div>
        </div>
      </section>