<section class="section parallax-container" data-parallax-img="images/backgrounds/background-05-1920x960.jpg" id="mailform-widget">
              <div class="parallax-content section-98 section-sm-110 bg-overlay-white">
                <div class="container">
                  <h1>See It In Action</h1>
                  <hr class="divider bg-mantis">
                  <div class="row justify-content-sm-center">
                    <div class="col-md-8 col-lg-12">
                      <div class="row justify-content-sm-center">
                        <div class="col-lg-8">
                          <!-- RD Mailform-->
                          <form class="rd-mailform text-left" data-form-output="form-output-global" data-form-type="contact" method="post" action="bat/rd-mailform.php">
                            <div class="row">
                              <div class="col-lg-6">
                                <div class="form-group">
                                  <label class="form-label form-label-outside" for="rd-mailform-first-name">First name:</label>
                                  <input class="form-control" id="rd-mailform-first-name" type="text" name="name" data-constraints="@Required">
                                </div>
                              </div>
                              <div class="col-lg-6">
                                <div class="form-group">
                                  <label class="form-label form-label-outside" for="rd-mailform-last-name">Last name:</label>
                                  <input class="form-control" id="rd-mailform-last-name" type="text" name="name" data-constraints="@Required">
                                </div>
                              </div>
                              <div class="col-lg-6 offset-lg-top-20">
                                <div class="form-group">
                                  <label class="form-label form-label-outside" for="rd-mailform-email">E-mail:</label>
                                  <input class="form-control" id="rd-mailform-email" type="email" name="email" data-constraints="@Required @Email">
                                </div>
                              </div>
                              <div class="col-lg-6 offset-lg-top-20">
                                <div class="row">
                                  <div class="col-md-6">
                                    <div class="form-group">
                                      <label class="form-label form-label-outside" for="rd-mailform-phone">Phone:</label>
                                      <input class="form-control" id="rd-mailform-phone" type="text" name="phone" data-constraints="@Required">
                                    </div>
                                  </div>
                                  <div class="col-md-6">
                                    <div class="form-group">
                                      <label class="form-label form-label-outside" for="rd-mailform-select">Gender:</label>
                                      <select class="form-control" id="rd-mailform-select" data-placeholder="Select an option" data-minimum-results-for-search="Infinity">
                                        <option>Male</option>
                                        <option>Female</option>
                                      </select>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="col-lg-6 offset-lg-top-20">
                                <div class="form-group">
                                  <label class="form-label form-label-outside" for="rd-mailform-date">Date:</label>
                                  <input class="form-control" id="rd-mailform-date" type="text" name="date" data-constraints="@Required" data-time-picker="date">
                                </div>
                              </div>
                              <div class="col-lg-6 offset-lg-top-20">
                                <div class="form-group">
                                  <label class="form-label form-label-outside" for="rd-mailform-time">Time:</label>
                                  <input class="form-control" id="rd-mailform-time" type="text" name="time" data-constraints="@Required" data-time-picker="time">
                                </div>
                              </div>
                              <div class="col-xl-12 offset-top-30 offset-lg-top-20">
                                <div class="form-group">
                                  <label class="form-label form-label-outside" for="rd-mailform-message">Message:</label>
                                  <textarea class="form-control" id="rd-mailform-message" name="message" data-constraints="@Required" style="height: 150px"></textarea>
                                </div>
                                <div class="row justify-content-sm-center justify-content-xl-start text-center text-xl-left offset-top-30">
                                  <div class="col-sm-5 col-lg-4 col-xl-3">
                                    <button class="btn btn-block btn-primary" type="submit">Send</button>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>