<section class="section novi-background section-66">
        <div class="container">
          <h2>Simple Quote</h2>
          <hr class="divider divider-md bg-mantis">
          <div class="row justify-content-sm-center">
            <div class="col-md-8">
              <!-- Quote Simple-->
              <hr class="hr hr-gradient"/>
              <div class="h3 text-center text-italic p h3 text-center font-italic">
                <q>I am really happy I’ve purchased a template from TemplateMonster. Congratulations!</q>
              </div>
              <hr class="hr hr-gradient"/>
            </div>
          </div>
        </div>
      </section>