<section class="section novi-background section-98 section-md-110">
        <div class="container-fluid">
          <h1>Single Project Variant 2</h1>
          <hr class="divider bg-mantis">
          <div class="row justify-content-sm-center grid-group-md">
            <div class="col-xxl-3 col-sm-9 text-left">
              <div class="row grid-group-md">
                <div class="col-md-6 col-xxl-12">
                  <time datetime="2019-01-01"><span class="icon novi-icon icon-xxs fa fa-calendar text-middle text-picton-blue" style="font-size:18px"></span> <span class="text-middle text-dark">February 28, 2019</span>
                  </time>
                  <h4 class="offset-top-4">About Project</h4>
                  <p>My projects differ in a variety of aspects from works of other photographers. On my website you will not find any ordinary photos and shots that can be characterized as dull and boring. In this project I tried to underline the emotional meaning of love and long-lasting relationship. This project features professional models portraying an initial idea of love and passion in these photos.</p>
                </div>
                <div class="col-md-6 col-xxl-12">
                  <h4>Information</h4>
                  <ul class="list list-marked">
                    <li>Canon EOS 5D Mark III</li>
                    <li>Canon EF135mm f/2L USM</li>
                    <li>f/8.0</li>
                    <li>135.0 mm</li>
                    <li>1/4000</li>
                    <li>ISO 600</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-sm-9 col-xxl-9">
              <!-- Swiper-->
              <div class="swiper-container swiper-slider" data-height="67%" data-min-height="400px" data-dots="true">
                <div class="swiper-wrapper">
                  <div class="swiper-slide swiper-slide-overlay-disable" data-slide-bg="images/portfolio/portfolio-21-1398x932.jpg" style="background-position: center center"></div>
                  <div class="swiper-slide swiper-slide-overlay-disable" data-slide-bg="images/portfolio/portfolio-22-1398x932.jpg" style="background-position: center center"></div>
                  <div class="swiper-slide swiper-slide-overlay-disable" data-slide-bg="images/portfolio/portfolio-23-1398x932.jpg" style="background-position: center center"></div>
                </div>
                <!-- Swiper Pagination-->
                <div class="swiper-pagination swiper-pagination-type-1"></div>
              </div>
            </div>
          </div>
        </div>
      </section>