<section class="section novi-background section-98 section-sm-110">
        <div class="container">
          <div class="row justify-content-sm-center">
            <div class="col-sm-10 col-md-5">
                    <!-- Member block type 5-->
                    <div class="member-block-type-5 inset-lg-right-20"><img class="img-fluid d-block mx-auto" src="images/users/user-john-doe-437x437.jpg" width="437" height="437" alt="">
                      <div class="member-block-body"><a class="btn btn-block btn-primary" href="contact-me.html">get in touch</a>
                        <div class="offset-top-34">
                          <ul class="list-inline list-inline-xs">
                            <li class="list-inline-item"><a class="icon novi-icon icon-xxs icon-circle icon-darker-filled fa-facebook" href="#"></a></li>
                            <li class="list-inline-item"><a class="icon novi-icon icon-xxs icon-circle icon-darker-filled fa-twitter" href="#"></a></li>
                            <li class="list-inline-item"><a class="icon novi-icon icon-xxs icon-circle icon-darker-filled fa-google-plus" href="#"></a></li>
                            <li class="list-inline-item"><a class="icon novi-icon icon-xxs icon-circle icon-darker-filled fa-linkedin" href="#"></a></li>
                          </ul>
                        </div>
                        <address class="contact-info offset-top-20 offset-md-top-34">
                          <ul class="list-unstyled p">
                            <li><span class="icon novi-icon icon-xxs text-middle text-dark mdi mdi-phone"></span><a class="text-middle d-inline-block" href="tel:1-800-1234-567">1-800-1234-567</a></li>
                            <li><span class="icon novi-icon icon-xxs text-middle text-dark mdi mdi-email-open"></span><a class="text-middle d-inline-block text-picton-blue" href="mailto:info@demolink.org">info@demolink.org</a></li>
                          </ul>
                        </address>
                      </div>
                    </div>
            </div>
            <div class="col-sm-10 col-md-7 text-md-left">
              <div>
                <h1>John Doe</h1>
              </div>
              <p class="small text-darker offset-top-4">UI/UX Designer</p>
              <hr class="divider bg-mantis hr-md-left-0">
              <p class="text-left">Hello! My name is John Doe, and I am a jack of all trades when it comes to web design, app development and content marketing. With 12 years of experience I am proud to be called a web designer.</p>
              <div class="offset-top-30 text-center">
                <p>
                  <q class="font-italic h3 font-weight-bold">I am really happy I’ve purchased a template from TemplateMonster. Congratulations!</q>
                </p>
              </div>
              <div class="offset-top-30">
                <p class="text-left">Web design is my expertise. I offer a wide range of services from wireframing to full-cycle web development. No matter what size is your project of – it will be done quickly and on the highest quality level.</p>
              </div>
              <div class="offset-top-50">
                      <!-- Linear progress bar-->
                      <div class="progress-linear" data-to="70">
                        <div class="progress-header clearfix"><span class="small text-ubold pull-left">HTML/CSS</span><span class="small text-ubold pull-right progress-value">70</span></div>
                        <div class="progress-bar-linear-wrap">
                          <div class="progress-bar-linear bg-success"></div>
                        </div>
                      </div>
                <div class="offset-top-50">
                        <!-- Linear progress bar-->
                        <div class="progress-linear" data-to="54">
                          <div class="progress-header clearfix"><span class="small text-ubold pull-left">Java Script</span><span class="small text-ubold pull-right progress-value">54</span></div>
                          <div class="progress-bar-linear-wrap">
                            <div class="progress-bar-linear bg-info"></div>
                          </div>
                        </div>
                </div>
                <div class="offset-top-50">
                        <!-- Linear progress bar-->
                        <div class="progress-linear" data-to="87">
                          <div class="progress-header clearfix"><span class="small text-ubold pull-left">PHP</span><span class="small text-ubold pull-right progress-value">87</span></div>
                          <div class="progress-bar-linear-wrap">
                            <div class="progress-bar-linear bg-warning"></div>
                          </div>
                        </div>
                </div>
                <div class="offset-top-50">
                        <!-- Linear progress bar-->
                        <div class="progress-linear" data-to="65">
                          <div class="progress-header clearfix"><span class="small text-ubold pull-left">UI/UX Design</span><span class="small text-ubold pull-right progress-value">65</span></div>
                          <div class="progress-bar-linear-wrap">
                            <div class="progress-bar-linear bg-danger"></div>
                          </div>
                        </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>