<section class="section novi-background section-98 section-sm-110">
        <div class="container">
          <div class="row justify-content-sm-center">
            <div class="col-sm-10 col-md-5 col-xl-4 text-lg-left">
              <!-- Member Block Type 5-->
              <div class="member-block-type-5 inset-lg-right-30"><img class="img-fluid d-block mx-auto" src="images/users/user-john-doe-437x437.jpg" width="437" height="437" alt="">
                <div class="member-block-body text-center"><a class="btn btn-block btn-primary" href="contact-me.html">Free consultation</a>
                  <div class="offset-top-24 offset-lg-top-41 text-center">
                    <p><span class="novi-icon icon icon-xxs text-middle mdi mdi-cellphone-android text-darker"></span> <span class="text-middle"><a class="text-dark" href="tel:#">1-800-1234-567</a></span>
                    </p>
                    <p><span class="novi-icon icon icon-xxs text-middle mdi mdi-email-open text-darker"></span> <span class="text-middle"><a class="text-dark" href="mailto:#">johndoe@demolink.org</a></span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-10 text-md-left col-md-7 col-xl-8 offset-top-24 offset-md-top-0">
              <h1>John Doe</h1>
              <div>
                <h3 class="font-default font-italic text-regular">Senior advisor for Intense, an independently owned financial planning company</h3>
              </div>
              <hr class="divider d-inline-block bg-mantis">
              <div class="offset-top-24 offset-lg-top-50">
                <p>I am a senior advisor for an independently owned financial planning company called Intense. We are an International Financial Planning company with offices in multiple jurisdictions over the world. Working with Intense gives me the ability to advise business owners all over the world via Internet or personally in the area of my location.</p>
                <div class="offset-top-20">
                  <blockquote class="quote quote-variant-2">
                    <div class="h3 font-italic font-default">
                      <q>My job is to help professionals achieve their financial goals whilst having adequate protection along the way. I do this by tailoring  financial solutions to suit my clients’ individual needs.</q>
                    </div>
                  </blockquote>
                </div>
                <div class="row justify-content-sm-center offset-top-50 offset-lg-top-40">
                  <div class="col-sm-5 col-md-3"><a class="thumbnail-classic" data-lightgallery="item" href="images/certifications/certificate-01-700x970.jpg">
                      <figure><img width="170" height="242" src="images/certifications/certificate-01-170x242.jpg" alt=""/>
                      </figure></a>
                  </div>
                  <div class="col-sm-5 col-md-3"><a class="thumbnail-classic" data-lightgallery="item" href="images/certifications/certificate-01-700x970.jpg">
                      <figure><img width="170" height="242" src="images/certifications/certificate-01-170x242.jpg" alt=""/>
                      </figure></a>
                  </div>
                  <div class="col-sm-5 col-md-3 offset-top-30 offset-md-top-0"><a class="thumbnail-classic" data-lightgallery="item" href="images/certifications/certificate-01-700x970.jpg">
                      <figure><img width="170" height="242" src="images/certifications/certificate-01-170x242.jpg" alt=""/>
                      </figure></a>
                  </div>
                  <div class="col-sm-5 col-md-3 offset-top-30 offset-md-top-0"><a class="thumbnail-classic" data-lightgallery="item" href="images/certifications/certificate-01-700x970.jpg">
                      <figure><img width="170" height="242" src="images/certifications/certificate-01-170x242.jpg" alt=""/>
                      </figure></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>