<section class="section novi-background section-66">
        <div class="container">
          <h2>Testimonials Slider v.5</h2>
          <hr class="divider divider-md bg-mantis">
          <div class="offset-top-50">
            <div class="owl-carousel owl-carousel-default owl-carousel-class-light owl-carousel-arrows veil-lg-owl-dots veil-owl-nav reveal-lg-owl-nav inset-left-7p inset-right-7p" data-items="1" data-nav="true" data-dots="true" data-nav-class="[&quot;owl-prev mdi mdi-chevron-left&quot;, &quot;owl-next mdi mdi-chevron-right&quot;]">
              <div>
                <div class="row justify-content-sm-center">
                  <div class="col-xl-8">
                    <div class="d-inline-block">
                      <div class="unit unit-xs unit-xs-horizontal unit-spacing-sm text-xs-left">
                        <div class="unit-left"><img class="rounded-circle" width="60" height="60" src="images/users/user-alex-merphy-60x60.jpg" alt="Alex Merphy"/></div>
                        <div class="unit-body">
                          <div>
                            <div class="h5 text-picton-blue">Alex Merphy</div>
                          </div>
                          <div>
                            <div class="p text-dark">Manager</div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="offset-top-41">
                      <!-- Quote Simple-->
                      <hr class="hr hr-gradient"/>
                      <div class="h3 text-center text-italic h4 text-center font-italic">
                        <q>Thank you for the assistance you provided in my job searching. During a short period of using your website I have found several vacancies where my skills can be used.</q>
                      </div>
                      <hr class="hr hr-gradient"/>
                    </div>
                  </div>
                </div>
              </div>
              <div>
                <div class="row justify-content-sm-center">
                  <div class="col-xl-8">
                    <div class="d-inline-block">
                      <div class="unit unit-xs unit-xs-horizontal unit-spacing-sm text-xs-left">
                        <div class="unit-left"><img class="rounded-circle" width="60" height="60" src="images/users/user-july-mao-60x60.jpg" alt="July Mao"/></div>
                        <div class="unit-body">
                          <div>
                            <div class="h5 text-picton-blue">July Mao</div>
                          </div>
                          <div>
                            <div class="p text-dark">Manager</div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="offset-top-41">
                      <!-- Quote Simple-->
                      <hr class="hr hr-gradient"/>
                      <div class="h3 text-center text-italic h4 text-center font-italic">
                        <q>I just want to thank you for your help. I was so pleased and grateful. Keep up the excellent work. Your site provides the best support I have ever encountered.</q>
                      </div>
                      <hr class="hr hr-gradient"/>
                    </div>
                  </div>
                </div>
              </div>
              <div>
                <div class="row justify-content-sm-center">
                  <div class="col-xl-8">
                    <div class="d-inline-block">
                      <div class="unit unit-xs unit-xs-horizontal unit-spacing-sm text-xs-left">
                        <div class="unit-left"><img class="rounded-circle" width="60" height="60" src="images/users/user-amanda-smith-60x60.jpg" alt="Amanda Smith"/></div>
                        <div class="unit-body">
                          <div>
                            <div class="h5 text-picton-blue">Amanda Smith</div>
                          </div>
                          <div>
                            <div class="p text-dark">Manager</div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="offset-top-41">
                      <!-- Quote Simple-->
                      <hr class="hr hr-gradient"/>
                      <div class="h3 text-center text-italic h4 text-center font-italic">
                        <q>Thank you very much for your rapid response. It's no doubt that your company is worth admiring! I have experienced the fastest support ever.</q>
                      </div>
                      <hr class="hr hr-gradient"/>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>