<section class="section novi-background section-66 section-lg-top-110">
        <div class="container">
          <h2>Testimonials Slider v.2</h2>
          <hr class="divider divider-md bg-mantis">
          <div class="row justify-content-sm-center offset-top-66">
            <div class="col-md-8">
              <!-- Testimonials Slider v.2-->
              <div class="owl-carousel owl-carousel-testimonials-2" data-items="1" data-nav="true" data-dots="false" data-nav-class="[&quot;owl-prev mdi mdi-chevron-left&quot;, &quot;owl-next mdi mdi-chevron-right&quot;]">
                <div>
                  <blockquote class="quote quote-slider-2"><img class="quote-img rounded-circle" width="80" height="80" src="images/users/user-alex-merphy-80x80.jpg" alt="Alex Merphy"/>
                    <p class="quote-body">I am glad I’ve purchased a template from TemplateMonster. Extraordinary customer service, always available, perfect care and knowledge of the technicians. Essential if you are not an expert programmer. In any case highly recommended. Congratulations!</p>
                    <hr class="divider divider-sm"/>
                    <h6 class="quote-author">
                      <cite class="text-normal">Alex Merphy</cite>
                    </h6>
                    <p class="quote-desc">Freelance Developer</p>
                  </blockquote>
                </div>
                <div>
                  <blockquote class="quote quote-slider-2"><img class="quote-img rounded-circle" width="80" height="80" src="images/users/user-july-mao-80x80.jpg" alt="July Mao"/>
                    <p class="quote-body">I am glad I’ve purchased a template from TemplateMonster. Extraordinary customer service, always available, perfect care and knowledge of the technicians. Essential if you are not an expert programmer. In any case highly recommended. Congratulations!</p>
                    <hr class="divider divider-sm"/>
                    <h6 class="quote-author">
                      <cite class="text-normal">July Mao</cite>
                    </h6>
                    <p class="quote-desc">Freelance Developer</p>
                  </blockquote>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>