<section class="section novi-background section-66">
        <div class="container">
          <h2>Testimonials Slider v.4</h2>
          <hr class="divider divider-md bg-mantis">
          <div class="offset-top-50">
            <!-- Testimonials Slider v.4-->
            <div class="owl-carousel owl-carousel-classic owl-carousel-class-light owl-carousel-testimonials-3" data-items="1" data-md-items="2" data-xl-items="3" data-nav="false" data-dots="true" data-margin="50px">
              <div>
                <blockquote class="quote quote-slider-4 unit uni-spacing-sm flex-md-row">
                  <div class="unit-left"><img class="quote-img rounded-circle" width="80" height="80" src="images/users/user-alex-merphy-80x80.jpg" alt="Alex Merphy"/></div>
                  <div class="unit-body text-left">
                    <div>
                      <p>
                        <q>Thank you for your prompt response and the help that you gave me. You always have a quick solution to any problem. What an excellent level of customer service!</q>
                      </p>
                    </div>
                    <p class="font-weight-bold quote-author offset-top-10 offset-md-top-4">
                      <cite class="text-normal">Alex Merphy</cite>
                    </p>
                  </div>
                </blockquote>
              </div>
              <div>
                <blockquote class="quote quote-slider-4 unit uni-spacing-sm flex-md-row">
                  <div class="unit-left"><img class="quote-img rounded-circle" width="80" height="80" src="images/users/user-july-mao-80x80.jpg" alt="July Mao"/></div>
                  <div class="unit-body text-left">
                    <div>
                      <p>
                        <q>I just want to thank you for your help. I was so pleased and grateful. Keep up the excellent work. Your site provides the best support I have ever encountered.</q>
                      </p>
                    </div>
                    <p class="font-weight-bold quote-author offset-top-10 offset-md-top-4">
                      <cite class="text-normal">July Mao</cite>
                    </p>
                  </div>
                </blockquote>
              </div>
              <div>
                <blockquote class="quote quote-slider-4 unit uni-spacing-sm flex-md-row">
                  <div class="unit-left"><img class="quote-img rounded-circle" width="80" height="80" src="images/users/user-amanda-smith-80x80.jpg" alt="Amanda Smith"/></div>
                  <div class="unit-body text-left">
                    <div>
                      <p>
                        <q>Thank you very much for your rapid response. It's no doubt that your company is worth admiring! I have experienced the fastest support ever.</q>
                      </p>
                    </div>
                    <p class="font-weight-bold quote-author offset-top-10 offset-md-top-4">
                      <cite class="text-normal">Amanda Smith</cite>
                    </p>
                  </div>
                </blockquote>
              </div>
              <div>
                <blockquote class="quote quote-slider-4 unit uni-spacing-sm flex-md-row">
                  <div class="unit-left"><img class="quote-img rounded-circle" width="80" height="80" src="images/users/user-alex-merphy-80x80.jpg" alt="Alex Merphy"/></div>
                  <div class="unit-body text-left">
                    <div>
                      <p>
                        <q>Thank you for your prompt response and the help that you gave me. You always have a quick solution to any problem. What an excellent level of customer service!</q>
                      </p>
                    </div>
                    <p class="font-weight-bold quote-author offset-top-10 offset-md-top-4">
                      <cite class="text-normal">Alex Merphy</cite>
                    </p>
                  </div>
                </blockquote>
              </div>
              <div>
                <blockquote class="quote quote-slider-4 unit uni-spacing-sm flex-md-row">
                  <div class="unit-left"><img class="quote-img rounded-circle" width="80" height="80" src="images/users/user-july-mao-80x80.jpg" alt="July Mao"/></div>
                  <div class="unit-body text-left">
                    <div>
                      <p>
                        <q>I just want to thank you for your help. I was so pleased and grateful. Keep up the excellent work. Your site provides the best support I have ever encountered.</q>
                      </p>
                    </div>
                    <p class="font-weight-bold quote-author offset-top-10 offset-md-top-4">
                      <cite class="text-normal">July Mao</cite>
                    </p>
                  </div>
                </blockquote>
              </div>
              <div>
                <blockquote class="quote quote-slider-4 unit uni-spacing-sm flex-md-row">
                  <div class="unit-left"><img class="quote-img rounded-circle" width="80" height="80" src="images/users/user-amanda-smith-80x80.jpg" alt="Amanda Smith"/></div>
                  <div class="unit-body text-left">
                    <div>
                      <p>
                        <q>Thank you very much for your rapid response. It's no doubt that your company is worth admiring! I have experienced the fastest support ever.</q>
                      </p>
                    </div>
                    <p class="font-weight-bold quote-author offset-top-10 offset-md-top-4">
                      <cite class="text-normal">Amanda Smith</cite>
                    </p>
                  </div>
                </blockquote>
              </div>
            </div>
          </div>
        </div>
      </section>