<section class="section parallax-container" data-parallax-img="images/backgrounds/background-07-1920x1998.jpg" id="twitter-widget">
              <div class="parallax-content section-98 section-sm-110">
                <div class="container-fluid">
                  <h1>See It In Action</h1>
                  <hr class="divider bg-mantis">
                  <div class="row offset-top-66 justify-content-md-center text-md-left">
                    <div class="col-md-8 col-xl-12">
                            <!-- RD Twitter Feed-->
                            <div class="twitter" data-twitter-username="templatemonster" data-twitter-date-format="%d %b %Y" data-twitter-date-hours=" hours ago" data-twitter-date-minutes=" minutes ago">
                              <div class="row justify-content-md-center">
                                <div class="col-xl-4"><a class="rd-twitter shadow-drop-sm" data-twitter-type="tweet" href="#">
                                    <div class="unit unit-sm flex-md-row twitter-unit">
                                      <div class="unit-left">
                                        <div class="rd-twitter-avatar"><img data-avatar="src" src="images/_blank.png" alt=""></div>
                                      </div>
                                      <div class="unit-body">
                                        <div class="rd-twitter-meta">
                                          <div class="p big font-weight-bold" data-user_name="text"></div>
                                        </div>
                                        <div class="p small text-dark offset-top-4" data-screen_name="text"></div>
                                      </div>
                                    </div>
                                    <div class="rd-twitter-tweet" data-tweet="text"></div>
                                    <div class="rd-twitter-img-wrap"><img class="rd-twitter-media" data-media_url="src" src="images/_blank.png" alt=""></div>
                                    <div class="rd-twitter-time-wrap">
                                      <div class="time p small text-dark" data-date="text" data-datetime="datetime"></div>
                                    </div></a>
                                  <div class="offset-top-30"><a class="rd-twitter shadow-drop-sm" data-twitter-type="tweet" href="#">
                                      <div class="unit unit-sm flex-md-row twitter-unit">
                                        <div class="unit-left">
                                          <div class="rd-twitter-avatar"><img data-avatar="src" src="images/_blank.png" alt=""></div>
                                        </div>
                                        <div class="unit-body">
                                          <div class="rd-twitter-meta">
                                            <div class="p big font-weight-bold" data-user_name="text"></div>
                                          </div>
                                          <div class="p small text-dark offset-top-4" data-screen_name="text"></div>
                                        </div>
                                      </div>
                                      <div class="rd-twitter-tweet" data-tweet="text"></div>
                                      <div class="rd-twitter-img-wrap"><img class="rd-twitter-media" data-media_url="src" src="images/_blank.png" alt=""></div>
                                      <div class="rd-twitter-time-wrap">
                                        <div class="time p small text-dark" data-date="text" data-datetime="datetime"></div>
                                      </div></a></div>
                                </div>
                                <div class="col-xl-4"><a class="rd-twitter rd-twitter-compact shadow-drop-sm" data-twitter-type="tweet" href="#">
                                    <div class="unit unit-sm flex-md-row twitter-unit">
                                      <div class="unit-left">
                                        <div class="rd-twitter-avatar"><img data-avatar="src" src="images/_blank.png" alt=""></div>
                                      </div>
                                      <div class="unit-body">
                                        <div class="rd-twitter-meta">
                                          <div class="p big font-weight-bold" data-user_name="text"></div>
                                        </div>
                                        <div class="p small text-dark offset-top-4" data-screen_name="text"></div>
                                      </div>
                                    </div>
                                    <div class="rd-twitter-tweet" data-tweet="text"></div>
                                    <div class="rd-twitter-time-wrap">
                                      <div class="time p small text-dark" data-date="text" data-datetime="datetime"></div>
                                    </div></a>
                                  <div class="offset-top-30"><a class="rd-twitter shadow-drop-sm" data-twitter-type="tweet" href="#">
                                      <div class="unit unit-sm flex-md-row twitter-unit">
                                        <div class="unit-left">
                                          <div class="rd-twitter-avatar"><img data-avatar="src" src="images/_blank.png" alt=""></div>
                                        </div>
                                        <div class="unit-body">
                                          <div class="rd-twitter-meta">
                                            <div class="p big font-weight-bold" data-user_name="text"></div>
                                          </div>
                                          <div class="p small text-dark offset-top-4" data-screen_name="text"></div>
                                        </div>
                                      </div>
                                      <div class="rd-twitter-tweet" data-tweet="text"></div>
                                      <div class="rd-twitter-img-wrap"><img class="rd-twitter-media" data-media_url="src" src="images/_blank.png" alt=""></div>
                                      <div class="rd-twitter-time-wrap">
                                        <div class="time p small text-dark" data-date="text" data-datetime="datetime"></div>
                                      </div></a></div>
                                  <div class="offset-top-30"><a class="rd-twitter shadow-drop-sm" data-twitter-type="tweet" href="#">
                                      <div class="unit unit-sm flex-md-row twitter-unit">
                                        <div class="unit-left">
                                          <div class="rd-twitter-avatar"><img data-avatar="src" src="images/_blank.png" alt=""></div>
                                        </div>
                                        <div class="unit-body">
                                          <div class="rd-twitter-meta">
                                            <div class="p big font-weight-bold" data-user_name="text"></div>
                                          </div>
                                          <div class="p small text-dark offset-top-4" data-screen_name="text"></div>
                                        </div>
                                      </div>
                                      <div class="rd-twitter-tweet" data-tweet="text"></div>
                                      <div class="rd-twitter-img-wrap"><img class="rd-twitter-media" data-media_url="src" src="images/_blank.png" alt=""></div>
                                      <div class="rd-twitter-time-wrap">
                                        <div class="time p small text-dark" data-date="text" data-datetime="datetime"></div>
                                      </div></a></div>
                                </div>
                                <div class="col-xl-4"><a class="rd-twitter shadow-drop-sm" data-twitter-type="tweet" href="#">
                                    <div class="unit unit-sm flex-md-row twitter-unit">
                                      <div class="unit-left">
                                        <div class="rd-twitter-avatar"><img data-avatar="src" src="images/_blank.png" alt=""></div>
                                      </div>
                                      <div class="unit-body">
                                        <div class="rd-twitter-meta">
                                          <div class="p big font-weight-bold" data-user_name="text"></div>
                                        </div>
                                        <div class="p small text-dark offset-top-4" data-screen_name="text"></div>
                                      </div>
                                    </div>
                                    <div class="rd-twitter-tweet" data-tweet="text"></div>
                                    <div class="rd-twitter-img-wrap"><img class="rd-twitter-media" data-media_url="src" src="images/_blank.png" alt=""></div>
                                    <div class="rd-twitter-time-wrap">
                                      <div class="time p small text-dark" data-date="text" data-datetime="datetime"></div>
                                    </div></a>
                                  <div class="offset-top-30"><a class="rd-twitter shadow-drop-sm" data-twitter-type="tweet" href="#">
                                      <div class="unit unit-sm flex-md-row twitter-unit">
                                        <div class="unit-left">
                                          <div class="rd-twitter-avatar"><img data-avatar="src" src="images/_blank.png" alt=""></div>
                                        </div>
                                        <div class="unit-body">
                                          <div class="rd-twitter-meta">
                                            <div class="p big font-weight-bold" data-user_name="text"></div>
                                          </div>
                                          <div class="p small text-dark offset-top-4" data-screen_name="text"></div>
                                        </div>
                                      </div>
                                      <div class="rd-twitter-tweet" data-tweet="text"></div>
                                      <div class="rd-twitter-img-wrap"><img class="rd-twitter-media" data-media_url="src" src="images/_blank.png" alt=""></div>
                                      <div class="rd-twitter-time-wrap">
                                        <div class="time p small text-dark" data-date="text" data-datetime="datetime"></div>
                                      </div></a></div>
                                </div>
                              </div>
                            </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>