<section class="section novi-background section-98 section-md-110">
        <div class="container">
          <div class="row justify-content-sm-center">
            <div class="col-md-6">
                    <!-- Vacation--><a class="post-vacation text-left" href="#">
                      <div>
                        <h3>Senior PHP Developer </h3>
                      </div>
                      <div class="post-meta offset-top-10">
                        <ul class="list-inline list-inline-sm p">
                          <li class="list-inline-item"><span class="text-middle icon-xxs novi-icon mdi mdi-map-marker text-picton-blue"></span> <span class="text-middle small text-dark">New York</span>
                          </li>
                          <li class="list-inline-item"><span class="text-middle icon-xxs novi-icon mdi mdi-clock text-picton-blue"></span> <span class="text-middle small text-dark">Full Time</span>
                          </li>
                          <li class="list-inline-item"><span class="text-middle icon-xxs novi-icon mdi mdi-calendar text-picton-blue"></span> 
                            <time class="text-middle small text-dark" datetime="2019-01-01">March 12, 2019</time>
                          </li>
                        </ul>
                      </div></a>
            </div>
            <div class="col-md-6 offset-top-30 offset-md-top-0">
                    <!-- Vacation--><a class="post-vacation text-left" href="#">
                      <div>
                        <h3>Middle JS Developer</h3>
                      </div>
                      <div class="post-meta offset-top-10">
                        <ul class="list-inline list-inline-sm p">
                          <li class="list-inline-item"><span class="text-middle icon-xxs novi-icon mdi mdi-map-marker text-picton-blue"></span> <span class="text-middle small text-dark">New York</span>
                          </li>
                          <li class="list-inline-item"><span class="text-middle icon-xxs novi-icon mdi mdi-clock text-picton-blue"></span> <span class="text-middle small text-dark">Full Time</span>
                          </li>
                          <li class="list-inline-item"><span class="text-middle icon-xxs novi-icon mdi mdi-calendar text-picton-blue"></span> 
                            <time class="text-middle small text-dark" datetime="2019-01-01">March 10, 2019</time>
                          </li>
                        </ul>
                      </div></a>
            </div>
            <div class="col-md-6 offset-top-30">
                    <!-- Vacation--><a class="post-vacation text-left" href="#">
                      <div>
                        <h3>Middle Wordpress CMS Developer</h3>
                      </div>
                      <div class="post-meta offset-top-10">
                        <ul class="list-inline list-inline-sm p">
                          <li class="list-inline-item"><span class="text-middle icon-xxs novi-icon mdi mdi-map-marker text-picton-blue"></span> <span class="text-middle small text-dark">New York</span>
                          </li>
                          <li class="list-inline-item"><span class="text-middle icon-xxs novi-icon mdi mdi-clock text-picton-blue"></span> <span class="text-middle small text-dark">Full Time</span>
                          </li>
                          <li class="list-inline-item"><span class="text-middle icon-xxs novi-icon mdi mdi-calendar text-picton-blue"></span> 
                            <time class="text-middle small text-dark" datetime="2019-01-01">March 12, 2019</time>
                          </li>
                        </ul>
                      </div></a>
            </div>
            <div class="col-md-6 offset-top-30">
                    <!-- Vacation--><a class="post-vacation text-left" href="#">
                      <div>
                        <h3>Junior HTML Coder</h3>
                      </div>
                      <div class="post-meta offset-top-10">
                        <ul class="list-inline list-inline-sm p">
                          <li class="list-inline-item"><span class="text-middle icon-xxs novi-icon mdi mdi-map-marker text-picton-blue"></span> <span class="text-middle small text-dark">New York</span>
                          </li>
                          <li class="list-inline-item"><span class="text-middle icon-xxs novi-icon mdi mdi-clock text-picton-blue"></span> <span class="text-middle small text-dark">Full Time</span>
                          </li>
                          <li class="list-inline-item"><span class="text-middle icon-xxs novi-icon mdi mdi-calendar text-picton-blue"></span> 
                            <time class="text-middle small text-dark" datetime="2019-01-01">March 17, 2019</time>
                          </li>
                        </ul>
                      </div></a>
            </div>
            <div class="col-md-6 offset-top-30">
                    <!-- Vacation--><a class="post-vacation text-left" href="#">
                      <div>
                        <h3>Senior Ruby on Rails Developer</h3>
                      </div>
                      <div class="post-meta offset-top-10">
                        <ul class="list-inline list-inline-sm p">
                          <li class="list-inline-item"><span class="text-middle icon-xxs novi-icon mdi mdi-map-marker text-picton-blue"></span> <span class="text-middle small text-dark">New York</span>
                          </li>
                          <li class="list-inline-item"><span class="text-middle icon-xxs novi-icon mdi mdi-clock text-picton-blue"></span> <span class="text-middle small text-dark">Full Time</span>
                          </li>
                          <li class="list-inline-item"><span class="text-middle icon-xxs novi-icon mdi mdi-calendar text-picton-blue"></span> 
                            <time class="text-middle small text-dark" datetime="2019-01-01">March 15, 2019</time>
                          </li>
                        </ul>
                      </div></a>
            </div>
            <div class="col-md-6 offset-top-30">
                    <!-- Vacation--><a class="post-vacation text-left" href="#">
                      <div>
                        <h3>Middle Magento CMS Developer</h3>
                      </div>
                      <div class="post-meta offset-top-10">
                        <ul class="list-inline list-inline-sm p">
                          <li class="list-inline-item"><span class="text-middle icon-xxs novi-icon mdi mdi-map-marker text-picton-blue"></span> <span class="text-middle small text-dark">New York</span>
                          </li>
                          <li class="list-inline-item"><span class="text-middle icon-xxs novi-icon mdi mdi-clock text-picton-blue"></span> <span class="text-middle small text-dark">Full Time</span>
                          </li>
                          <li class="list-inline-item"><span class="text-middle icon-xxs novi-icon mdi mdi-calendar text-picton-blue"></span> 
                            <time class="text-middle small text-dark" datetime="2019-01-01">March 21, 2019</time>
                          </li>
                        </ul>
                      </div></a>
            </div>
          </div>
        </div>
      </section>