<section class="section novi-background section-66 bg-gray-darkest context-dark">
        <div class="container">
          <h2>Want to Join Us?</h2>
          <hr class="divider bg-mantis">
          <div class="row justify-content-sm-center">
            <div class="col-sm-10">
              <p>We are constantly looking for new talents and young minds that can put their potential to use in our company. If you think you can be one of us, contact our managers and we will interview you.</p><a class="btn btn-primary btn-icon btn-icon-left offset-top-20" href="contact-us.html"><span class="novi-icon icon mdi mdi-check-all"></span>Get Started now</a>
            </div>
          </div>
        </div>
      </section>