<section class="section parallax-container shadow-drop-xs" data-parallax-img="images/backgrounds/background-21-1920x1315.jpg">
              <div class="parallax-content bg-overlay-white context-light">
                <div class="container section-98 section-sm-110">
                  <h1>What Clients Say?</h1>
                  <hr class="divider bg-mantis">
                  <div class="row justify-content-sm-center offset-top-66">
                    <div class="col-sm-8 col-md-8 col-lg-4">
                            <blockquote class="quote quote-classic quote-outboxed">
                              <div class="quote-body">
                                <p>
                                  <q>Got really enjoyable experience with your product. Easy set up is a huge plus. I even didn’t turn to support service.</q>
                                </p>
                              </div>
                              <div class="quote-meta unit flex-row unit-spacing-sm align-items-center">
                                <div class="unit-left unit-item-narrow"><img class="rounded-circle quote-img" width="80" height="80" src="images/users/user-alex-merphy-80x80.jpg" alt="Alex Merphy"></div>
                                <div class="unit-body unit-item-wide">
                                  <h6 class="quote-author text-uppercase">
                                    <cite class="text-normal">Alex Merphy</cite>
                                  </h6>
                                  <p class="quote-desc text-uppercase text-picton-blue">Ceo/Founder at demolink.com</p>
                                </div>
                              </div>
                            </blockquote>
                    </div>
                    <div class="col-sm-8 col-md-8 col-lg-4 offset-top-41 offset-lg-top-0">
                            <blockquote class="quote quote-classic quote-outboxed">
                              <div class="quote-body">
                                <p>
                                  <q>I guess I’ll be a returning client. Your Live Chat service is awesome. It allows to settle any issue 24/7.</q>
                                </p>
                              </div>
                              <div class="quote-meta unit flex-row unit-spacing-sm align-items-center">
                                <div class="unit-left unit-item-narrow"><img class="rounded-circle quote-img" width="80" height="80" src="images/users/user-amanda-smith-90x90.jpg" alt="Amanda Smith"></div>
                                <div class="unit-body unit-item-wide">
                                  <h6 class="quote-author text-uppercase">
                                    <cite class="text-normal">Amanda Smith</cite>
                                  </h6>
                                  <p class="quote-desc text-uppercase text-picton-blue">Ceo/Founder at demolink.com</p>
                                </div>
                              </div>
                            </blockquote>
                    </div>
                    <div class="col-sm-8 col-md-8 col-lg-4 offset-top-41 offset-lg-top-0">
                            <blockquote class="quote quote-classic quote-outboxed">
                              <div class="quote-body">
                                <p>
                                  <q>A superb product for the price. Easy to read instructions are really helpful. Excellent, have nothing to add.</q>
                                </p>
                              </div>
                              <div class="quote-meta unit flex-row unit-spacing-sm align-items-center">
                                <div class="unit-left unit-item-narrow"><img class="rounded-circle quote-img" width="80" height="80" src="images/users/user-diana-russo-80x80.jpg" alt="Diana Russo"></div>
                                <div class="unit-body unit-item-wide">
                                  <h6 class="quote-author text-uppercase">
                                    <cite class="text-normal">Diana Russo</cite>
                                  </h6>
                                  <p class="quote-desc text-uppercase text-picton-blue">Ceo/Founder at demolink.com</p>
                                </div>
                              </div>
                            </blockquote>
                    </div>
                    <div class="row-spacer d-none d-lg-inline-block offset-top-41 offset-xl-top-66"></div>
                    <div class="col-sm-8 col-md-8 col-lg-4 offset-top-41 offset-lg-top-0">
                            <blockquote class="quote quote-classic quote-outboxed">
                              <div class="quote-body">
                                <p>
                                  <q>I’m very pleased with your product. Great value for the money. Good quality. Ordering was very easy, as well. </q>
                                </p>
                              </div>
                              <div class="quote-meta unit flex-row unit-spacing-sm align-items-center">
                                <div class="unit-left unit-item-narrow"><img class="rounded-circle quote-img" width="80" height="80" src="images/users/user-eugene-newman-80x80.jpg" alt="Eugene Newman"></div>
                                <div class="unit-body unit-item-wide">
                                  <h6 class="quote-author text-uppercase">
                                    <cite class="text-normal">Eugene Newman</cite>
                                  </h6>
                                  <p class="quote-desc text-uppercase text-picton-blue">Developer at demolink.com</p>
                                </div>
                              </div>
                            </blockquote>
                    </div>
                    <div class="col-sm-8 col-md-8 col-lg-4 offset-top-41 offset-lg-top-0">
                            <blockquote class="quote quote-classic quote-outboxed">
                              <div class="quote-body">
                                <p>
                                  <q>An efficient and reliable resource. They always remain flexible, cost effective, and lightning fast. Keep up the good work!</q>
                                </p>
                              </div>
                              <div class="quote-meta unit flex-row unit-spacing-sm align-items-center">
                                <div class="unit-left unit-item-narrow"><img class="rounded-circle quote-img" width="80" height="80" src="images/users/user-john-doe-80x80.jpg" alt="John Doe"></div>
                                <div class="unit-body unit-item-wide">
                                  <h6 class="quote-author text-uppercase">
                                    <cite class="text-normal">John Doe</cite>
                                  </h6>
                                  <p class="quote-desc text-uppercase text-picton-blue">support at demolink.com</p>
                                </div>
                              </div>
                            </blockquote>
                    </div>
                    <div class="col-sm-8 col-md-8 col-lg-4 offset-top-41 offset-lg-top-0">
                            <blockquote class="quote quote-classic quote-outboxed">
                              <div class="quote-body">
                                <p>
                                  <q>The service is excellent and the personnel I worked with are great. Very responsive team and easy company to work with.</q>
                                </p>
                              </div>
                              <div class="quote-meta unit flex-row unit-spacing-sm align-items-center">
                                <div class="unit-left unit-item-narrow"><img class="rounded-circle quote-img" width="80" height="80" src="images/users/user-kira-force-80x80.jpg" alt="Kira Force"></div>
                                <div class="unit-body unit-item-wide">
                                  <h6 class="quote-author text-uppercase">
                                    <cite class="text-normal">Kira Force</cite>
                                  </h6>
                                  <p class="quote-desc text-uppercase text-picton-blue">UX Designer at demolink.com</p>
                                </div>
                              </div>
                            </blockquote>
                    </div>
                  </div>
                </div>
              </div>
            </section>