<section class="section novi-background section-98 section-sm-110">
        <div class="container">
          <h1>What we do</h1>
          <hr class="divider bg-mantis">
          <p class="inset-left-11p inset-right-11p">We will take care of your web design project regardless of its level of complexity. We are not afraid of difficult tasks – hundreds of our satisfied clients can prove that.</p>
          <div class="row offset-top-66">
            <div class="col-md-8 offset-md-2 col-lg-4 offset-lg-0">
                    <!-- Icon Box Type 4--><span class="icon novi-icon icon-circle icon-bordered icon-lg icon-default icon-filled mdi mdi-cellphone-link"></span>
                    <div>
                      <h4 class="font-weight-bold offset-top-20">Fully Responsive Design</h4>
                      <p>
                        Intense looks perfect on any modern device, be it a laptop, a smartphone, or a tablet.
                        
                      </p>
                    </div>
            </div>
            <div class="col-md-8 offset-md-2 col-lg-4 offset-lg-0 offset-top-66 offset-lg-top-0">
                    <!-- Icon Box Type 4--><span class="icon novi-icon icon-circle icon-bordered icon-lg icon-default icon-filled mdi mdi-chart-line"></span>
                    <div>
                      <h4 class="font-weight-bold offset-top-20">Social Integration</h4>
                      <p>
                        Intense is integrated with such popular social networks as Facebook, Twitter, Instagram and Flickr.
                        
                      </p>
                    </div>
            </div>
            <div class="col-md-8 offset-md-2 col-lg-4 offset-lg-0 offset-top-66 offset-lg-top-0">
                    <!-- Icon Box Type 4--><span class="icon novi-icon icon-circle icon-bordered icon-lg icon-default icon-filled mdi mdi-pen"></span>
                    <div>
                      <h4 class="font-weight-bold offset-top-20">150+ Predesigned Pages</h4>
                      <p>
                        Intense is a paradise for developers. Its initial release version comes shipped with 150+ responsive pages for any taste.
                        
                      </p>
                    </div>
            </div>
            <div class="row-spacer d-none d-lg-inline-block offset-top-41 offset-lg-top-66"></div>
            <div class="col-md-8 offset-md-2 col-lg-4 offset-lg-0 offset-top-66 offset-lg-top-0">
                    <!-- Icon Box Type 4--><span class="icon novi-icon icon-circle icon-bordered icon-lg icon-default icon-filled mdi mdi-timetable"></span>
                    <div>
                      <h4 class="font-weight-bold offset-top-20">Regular Content Updates</h4>
                      <p>
                        New child themes, skins and predesigned pages are being released 2-3 times per month. Intense owners get them for free.
                        
                      </p>
                    </div>
            </div>
            <div class="col-md-8 offset-md-2 col-lg-4 offset-lg-0 offset-top-66 offset-lg-top-0">
                    <!-- Icon Box Type 4--><span class="icon novi-icon icon-circle icon-bordered icon-lg icon-default icon-filled mdi mdi-verified"></span>
                    <div>
                      <h4 class="font-weight-bold offset-top-20">Lots of Child Themes</h4>
                      <p>
                        A variety of niche-specific designs, which expand the possibilities of this template.
                        
                      </p>
                    </div>
            </div>
            <div class="col-md-8 offset-md-2 col-lg-4 offset-lg-0 offset-top-66 offset-lg-top-0">
                    <!-- Icon Box Type 4--><span class="icon novi-icon icon-circle icon-bordered icon-lg icon-default icon-filled mdi mdi-video"></span>
                    <div>
                      <h4 class="font-weight-bold offset-top-20">200+ PSD Files</h4>
                      <p>
                        An impressive UI kit comprising 200+ layered PSD source files will be a useful addition to every designer’s toolbox.
                        
                      </p>
                    </div>
            </div>
          </div>
          <hr class="bg-lightest offset-top-66">
          <div class="row align-items-sm-center text-lg-left">
            <div class="col-lg-6"><img class="img-fluid" src="images/moqups/moqup-home-both.jpg" width="570" height="368" alt=""></div>
            <div class="col-lg-6">
              <h1>Why choose us?</h1>
              <hr class="divider bg-mantis hr-lg-left-0">
              <p>We're dedicated to giving you the best service possible by keeping our solutions friendly, simple and effective. If you don’t trust our word for it, just ask the people who have successfully launched their websites designed by us.</p>
              <p>Our core principle is absolute transparency in everything. Come any time to check how your project is doing – our specialists will inform you about the progress.</p><a class="btn btn-primary offset-top-14" href="about-us.html">Read More</a>
            </div>
          </div>
        </div>
      </section>