<section class="section novi-background section-98 section-sm-124">
        <div class="container">
          <div class="row">
            <div class="col-xl-5 text-xl-left">
              <h1>Who we are?</h1>
              <hr class="divider bg-mantis hr-xl-left-0">
            </div>
          </div>
          <div class="row justify-content-sm-center align-items-md-center offset-top-10 grid-group-md text-lg-left">
            <div class="col-md-10 col-xl-5">
              <p>Intense is an independent web design studio with a rich history. It started as a small family-owned business in Oakville, and has grown enough to successfully occupy two large buildings in two different cities.</p>
              <p>Today Intense offers a full range of web design, app development and content marketing services, including building full-featured ecommerce websites and web startups with custom functionality.</p>
            </div>
            <div class="col-md-10 col-xl-7">
                    <!-- Linear progress bar-->
                    <div class="progress-linear" data-to="70">
                      <div class="progress-header clearfix"><span class="small text-ubold pull-left">HTML/CSS</span><span class="small text-ubold pull-right progress-value">70</span></div>
                      <div class="progress-bar-linear-wrap">
                        <div class="progress-bar-linear bg-success"></div>
                      </div>
                    </div>
              <div class="offset-top-50">
                      <!-- Linear progress bar-->
                      <div class="progress-linear" data-to="54">
                        <div class="progress-header clearfix"><span class="small text-ubold pull-left">Java Script</span><span class="small text-ubold pull-right progress-value">54</span></div>
                        <div class="progress-bar-linear-wrap">
                          <div class="progress-bar-linear bg-info"></div>
                        </div>
                      </div>
              </div>
              <div class="offset-top-50">
                      <!-- Linear progress bar-->
                      <div class="progress-linear" data-to="87">
                        <div class="progress-header clearfix"><span class="small text-ubold pull-left">PHP</span><span class="small text-ubold pull-right progress-value">87</span></div>
                        <div class="progress-bar-linear-wrap">
                          <div class="progress-bar-linear bg-warning"></div>
                        </div>
                      </div>
              </div>
              <div class="offset-top-50">
                      <!-- Linear progress bar-->
                      <div class="progress-linear" data-to="65">
                        <div class="progress-header clearfix"><span class="small text-ubold pull-left">UI/UX Design</span><span class="small text-ubold pull-right progress-value">65</span></div>
                        <div class="progress-bar-linear-wrap">
                          <div class="progress-bar-linear bg-danger"></div>
                        </div>
                      </div>
              </div>
            </div>
          </div>
          <div class="row justify-content-sm-center offset-md-top-66">
            <div class="col-md-10 col-xl-12">
              <div class="row">
                <div class="col-md-6 col-xl-3 offset-top-66 offset-sm-top-0">
                        <!-- Box Member-->
                        <div class="box-member"><img class="img-fluid" src="images/users/user-john-doe-270x270.jpg" alt="">
                          <h5 class="font-weight-bold offset-top-20"><a>John Doe</a> <small class="team-member.html">Founder</small>
                          </h5>
                          <div class="box-member-wrap">
                            <div class="box-member-caption">
                              <div class="box-member-caption-inner">
                                      <ul class="list-inline list-inline-xs">
                                        <li class="list-inline-item"><a class="icon novi-icon fa fa-facebook icon-xs icon-circle icon-darker-filled" href="#"></a></li>
                                        <li class="list-inline-item"><a class="icon novi-icon fa fa-twitter icon-xs icon-circle icon-darker-filled" href="#"></a></li>
                                        <li class="list-inline-item"><a class="icon novi-icon fa fa-google-plus icon-xs icon-circle icon-darker-filled" href="#"></a></li>
                                      </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                </div>
                <div class="col-md-6 col-xl-3 offset-top-66 offset-md-top-0 offset-xl-top-0">
                        <!-- Box Member-->
                        <div class="box-member"><img class="img-fluid" src="images/users/user-july-mao-270x270.jpg" alt="">
                          <h5 class="font-weight-bold offset-top-20"><a>July Mao</a> <small class="team-member.html">Web Designer</small>
                          </h5>
                          <div class="box-member-wrap">
                            <div class="box-member-caption">
                              <div class="box-member-caption-inner">
                                      <ul class="list-inline list-inline-xs">
                                        <li class="list-inline-item"><a class="icon novi-icon fa fa-facebook icon-xs icon-circle icon-darker-filled" href="#"></a></li>
                                        <li class="list-inline-item"><a class="icon novi-icon fa fa-twitter icon-xs icon-circle icon-darker-filled" href="#"></a></li>
                                        <li class="list-inline-item"><a class="icon novi-icon fa fa-google-plus icon-xs icon-circle icon-darker-filled" href="#"></a></li>
                                      </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                </div>
                <div class="col-md-6 col-xl-3 offset-top-66 offset-md-top-30 offset-xl-top-0">
                        <!-- Box Member-->
                        <div class="box-member"><img class="img-fluid" src="images/users/user-bernard-show-270x270.jpg" alt="">
                          <h5 class="font-weight-bold offset-top-20"><a>Bernard Show</a> <small class="team-member.html">Co-Founder</small>
                          </h5>
                          <div class="box-member-wrap">
                            <div class="box-member-caption">
                              <div class="box-member-caption-inner">
                                      <ul class="list-inline list-inline-xs">
                                        <li class="list-inline-item"><a class="icon novi-icon fa fa-facebook icon-xs icon-circle icon-darker-filled" href="#"></a></li>
                                        <li class="list-inline-item"><a class="icon novi-icon fa fa-twitter icon-xs icon-circle icon-darker-filled" href="#"></a></li>
                                        <li class="list-inline-item"><a class="icon novi-icon fa fa-google-plus icon-xs icon-circle icon-darker-filled" href="#"></a></li>
                                      </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                </div>
                <div class="col-md-6 col-xl-3 offset-top-66 offset-md-top-30 offset-xl-top-0">
                        <!-- Box Member-->
                        <div class="box-member"><img class="img-fluid" src="images/users/user-ronald-oswald-270x270.jpg" alt="">
                          <h5 class="font-weight-bold offset-top-20"><a>Ronald Oswald</a> <small class="team-member.html">Developer</small>
                          </h5>
                          <div class="box-member-wrap">
                            <div class="box-member-caption">
                              <div class="box-member-caption-inner">
                                      <ul class="list-inline list-inline-xs">
                                        <li class="list-inline-item"><a class="icon novi-icon fa fa-facebook icon-xs icon-circle icon-darker-filled" href="#"></a></li>
                                        <li class="list-inline-item"><a class="icon novi-icon fa fa-twitter icon-xs icon-circle icon-darker-filled" href="#"></a></li>
                                        <li class="list-inline-item"><a class="icon novi-icon fa fa-google-plus icon-xs icon-circle icon-darker-filled" href="#"></a></li>
                                      </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>