<section class="section novi-background section-98 section-sm-110">
        <div class="container">
          <h1>Who i Am</h1>
          <hr class="divider bg-mantis">
          <!-- About Me-->
          <section>
            <div class="row justify-content-sm-center offset-top-66">
              <div class="col-xl-5 text-xl-right"><img class="img-fluid d-block mx-auto" src="images/users/user-john-doe-437x437.jpg" width="437" height="437" alt="">
                <div class="row justify-content-sm-center offset-top-34">
                  <div class="col-md-8 col-lg-6 col-xl-12">
                    <div class="inset-sm-left-80 inset-sm-right-80"><a class="btn btn-lg btn-block btn-primary" href="contact-me.html">get in touch</a></div>
                  </div>
                </div>
              </div>
              <div class="col-md-10 text-left col-lg-9 offset-top-41 col-xl-5 offset-xl-top-0">
                <div class="inset-md-left-30">
                  <p>Maybe, I am an artist. With a tripod instead of an easel, with a camera instead of brushes, I transmit feelings and emotions in one shot. And one day, opening the album and reviewing pictures, memories begin to emerge in the mind, calling the emotions experienced on the day of shooting. You can feel that a smile appears on the face, and maybe even tears, tears of joy.</p>
                  <p>And you realize that there is something to show our grandchildren proudly saying, "It is Me". This site is a small part of my work, I want to show you. With each pair, with every man, I have shot, watching their emotions, feelings - I was feeling the same and tried to show these feelings in the photos. That is how I see this world. Enjoy watching!</p>
                  <div class="text-left">
                    <p>Awards:</p>
                  </div>
                  <div class="offset-top-10">
                    <ul class="list list-unstyled text-left">
                      <li>2018 – MAGNUM 30 under 30, Winner</li>
                      <li>2016 – The Other Hundred, 1st Prize</li>
                      <li>2016 – American Photography 30, Selected Winner</li>
                      <li>2015 – Leica Oskar Barnack Award, Winner Newcomer</li>
                      <li>2014 – PDN Photo Annual - Student Work, Winner</li>
                      <li>2014 – AOP Student Awards, Finalist</li>
                    </ul>
                  </div>
                  <p>My work has appeared in printed and online magazines – National Geographic Magazine, The New York Times, GEO Germany, GEO France, Bloomberg Businessweek, Neu Zurcher Zeitung, Leica Fotografie International, Leica M Magazine, NEON, Marie Claire Italy, FOTO8, Reader’s Digest, National Geographic Traveler.</p>
                </div>
              </div>
            </div>
          </section>
        </div>
      </section>