<section class="section novi-background section-98 section-sm-110">
        <div class="container">
          <h1>Who i Am</h1>
          <hr class="divider bg-mantis">
          <div class="row justify-content-sm-center offset-top-20">
            <div class="col-md-9 col-lg-6">
                    <!-- Member Block Type-2-->
                    <div class="mx-auto"><img class="rounded-circle" src="images/users/user-eugene-newman-140x140.jpg" alt=""></div>
                    <h4>Hello! My name is Eugene Newman, <br/> and i'm in love with design</h4>
                    <p>I am a jack of all trades when it comes to web design, app development and content marketing. With 12 years of experience I am proud to be called a web designer.</p>
              <ul class="list-inline list-inline-lg list-inline-dashed list-inline-dashed-wide list-inline-picton-blue">
                <li class="list-inline-item big"><a class="font-weight-bold novi-icon text-uppercase fa-facebook-f" href="#"><span class="d-none d-lg-inline-block">Facebook</span></a></li>
                <li class="list-inline-item big"><a class="font-weight-bold novi-icon text-uppercase fa-twitter" href="#"><span class="d-none d-lg-inline-block">Twitter</span></a></li>
                <li class="list-inline-item big"><a class="font-weight-bold novi-icon text-uppercase fa-instagram" href="#"><span class="d-none d-lg-inline-block">Instagram</span></a></li>
              </ul>
            </div>
          </div>
        </div>
      </section>