<section class="section novi-background section-top-98 section-sm-top-110 section-sm-bottom-110 section-lg-top-66 section-bottom-98 section-lg-bottom-0 bg-lightest">
        <div class="container">
          <div class="row justify-content-md-center align-items-lg-center">
            <div class="col-xl-5 d-none d-xl-inline-block"><img class="img-fluid" width="470" height="770" src="images/pages/about-us-01-470x770.png" alt=""></div>
            <div class="col-md-10 col-xl-5 section-lg-bottom-50">
              <h1 class="offset-none">Why Choose Us</h1>
              <hr class="divider bg-mantis">
              <div class="offset-top-66 offset-xl-top-50">
                      <!-- Icon Box Type 2-->
                      <div class="unit unit-sm flex-md-row text-md-left">
                        <div class="unit-left"><span class="icon novi-icon text-gray mdi mdi-monitor"></span></div>
                        <div class="unit-body">
                          <h4 class="font-weight-bold text-malibu offset-md-top-14">We use cutting-edge technologies</h4>
                          <p>Our team of professional analysts is constantly roaming the web in search of promising techniques, which will make your business better.</p>
                        </div>
                      </div>
                <div class="offset-top-66 offset-xl-top-34">
                        <!-- Icon Box Type 2-->
                        <div class="unit unit-sm flex-md-row text-md-left">
                          <div class="unit-left"><span class="icon novi-icon text-gray mdi mdi-newspaper"></span></div>
                          <div class="unit-body">
                            <h4 class="font-weight-bold text-malibu offset-md-top-14">We value your time</h4>
                            <p>We know how important it is for you to maintain your schedule, that’s why we do everything to fit it. Our team works on your project in multiple threads.</p>
                          </div>
                        </div>
                </div>
                <div class="offset-top-66 offset-xl-top-34">
                        <!-- Icon Box Type 2-->
                        <div class="unit unit-sm flex-md-row text-md-left">
                          <div class="unit-left"><span class="icon novi-icon text-gray mdi mdi-headset"></span></div>
                          <div class="unit-body">
                            <h4 class="font-weight-bold text-malibu offset-md-top-14">We provide qualified support</h4>
                            <p>Our support team is online 24/7, and is ready to help you with any design - related issue.</p>
                          </div>
                        </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>